<nav>
    <div class="nav-wrapper white lighten-1">
        <a href="/en/home" class="brand-logo black-text center">
            Laura Martinez
        </a>
    </div>
</nav>

<style type="text/css">
    a.brand-logo.black-text.center {
        font-family: Times New Roman;
        font-variant: small-caps;
        padding-left: 15px;
        font-weight: bold !important;
    }

    nav ul li a,
    nav div a {
        color: black;
    }
</style>