<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="/healthcoaching">Health Coaching</a></li>
  <li><a href="/forms">Forms</a></li>
</ul>

<ul id="dropdown2" class="dropdown-content">
  <li><a class="selectedEnglish" href="#"><span class="flags-icon"><img src="images/flags-usa-sm.png"></span>English</a></li>
  <li><a class="selectedSpanish" href="#"><span class="flags-icon"><img src="images/flags-mexico-sm.png"></span>Espa&ntilde;ol</a></li>
</ul>
<!-- Dropdown Structure - End -->

<nav>
    <div class="nav-wrapper green lighten-1">
        <a href="/home" class="brand-logo">Logo</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/about">About</a></li>
            <li><a href="/recipes">Recipes</a></li>
            <li><a class="dropdown-button" href="#" data-activates="dropdown1">Work With Me<i class="material-icons right">arrow_drop_down</i>
            <!-- [if lte IE 11]><i class="material-icons">&#xE5C5;</i><![endif]-->
            </a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/contact">Contact</a></li>
            <!-- Language Selection - Desktop -->
            <li><a class="dropdown-button" data-activates="dropdown2">English<i class="material-icons right">language</i>
            <!-- [if lte IE 11]><i class="material-icons">&#xE894;</i><![endif]-->
            </a></li>
            <!-- Language Selection - Desktop - End -->
            <li><a href=""></a></li>
        </ul>

        <!-- Side Nav Structure -->
        <ul id="mobile-demo" class="side-nav green lighten-1">
            <li><a href="/about">About</a></li>
            <li><a href="/recipes">Recipes</a></li>
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header">Work With Me<i class="material-icons right">arrow_drop_down</i></a>
                        <div class="collapsible-body thin">
                            <ul class="green darken-2">
                                <li><a href="/healthcoaching">Health Coaching</a></li>
                                <li><a href="/forms">Forms</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <li><a href="/events">Events</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/contact">Contact</a></li>
            <!-- Language Selection -->
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header">English<i class="material-icons right">language</i></a>
                        <div class="collapsible-body thin">
                            <ul class="green darken-2">
                                <li><a class="selectedEnglish" href="/"><span class="flags-icon"><img src="images/flags-usa-sm.png"></span>English</a></li>
                                <li><a class="selectedSpanish" href="https://www.google.com"><span class="flags-icon"><img src="images/flags-mexico-sm.png"></span>Espa&ntilde;ol</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <!-- Language Selection - End -->
        </ul>
        <!-- Side Nav Structure - End -->
    </div>
</nav>


<script type="text/javascript">
$(document).ready(function() {
    $('.dropdown-button').dropdown({
        belowOrigin: true,
        alignment: 'right'
    });
    $('.button-collapse').sideNav();
});
</script>

<style type="text/css">
    .flags-icon img {
        max-height: 15px;
        max-width: auto;
        vertical-align: middle;
        margin-right: 10px;
    }
</style>