<div class="container">
    <div class="outer-card z-depth-2 blue lighten-100">
        <h5 class="white-text center">New Blog</h5>
        <form class="white">
            <div class="row">
                <div class="input-field col s12">
                    <input id="title" type="text" class="validate">
                    <label for="title">Title</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="subheading" type="text" class="validate">
                    <label for="subheading">Subheading</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="date" class="datepicker">
                    <label for="date">Date</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                    <label for="textarea1">Blog Text</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light login" type="submit" name="action">
                Submit
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
</div>

<style>
    .outer-card {
        width: 300px;
        padding: 20px;
        margin: 0 auto;
    }

    .outer-card form {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 40px;
    }

    /* small */
    @media (min-width: 768px) {
    }

    /* medium */
    @media (min-width: 992px) {
    }

    /* desktop */
    @media (min-width: 1200px) {
        .outer-card {
            width: 100%;
        }
    }
</style>

<script>
    $('.login.btn').click(function (e) {
        e.preventDefault();
    });

    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15 // Creates a dropdown of 15 years to control year
    });
</script>