<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
    <title>Laura Martinez - Health Coach - Admin</title>
</head>
<body>
    {{>en/admin-nav}}
    {{>en/admin-side-nav}}
    <main>
        {{{body}}}
    </main>
    {{>en/admin-footer}}
</body>
</html>