<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
    <title>Laura Martinez - Health Coach</title>
</head>
<body>
    {{>en/navigation}}
    <main>
        <br />
        <div class="container z-depth-5">
            {{>en/formnav}}
            {{{body}}}
        </div>
        {{>en/formfooter}}
    </main>
    {{>en/footer}}

    <style type="text/css">
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        main {
            flex: 1 0 auto;
        }

        .container {
        padding-top: 40px;
        padding-left: 40px;
        padding-right: 40px;
        }

        .inner-title {
            color: red;
        }

        .container > .row > .btn {
            margin-right: 10px;
        }

        .inner {
            padding-left: 40px;
            padding-right: 40px;
        }

        @media print {
            body * {
                visibility: hidden;
            }

            #printableForm,
            #printableForm * {
                visibility: visible;
            }

            #printableForm {
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    </style>

</body>
</html>