<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
    <title>Laura Martinez - Health Coach</title>
</head>
<body>
    {{>en/navigation}}
    <main>
        {{{body}}}
    </main>
    {{>en/footer}}
</body>
</html>