<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
    <title>Laura Martinez - Health Coach</title>
</head>
<body>
    {{>en/navigation}}
    <main>
        <br />
        <div class="container">
            <div class="justneedsomepadding">
                {{!-->en/recipesearch--}}
                {{{body}}}
                {{!--{{>en/recipefooter}--}}
            </div>
        </div>
    </main>
    {{>en/footer}}

    <style>
        body{background-color: #7cb407;}
        .justneedsomepadding {
            background-color: white;
            padding: 20px;
        }
        .recipe-results-wrapper {/*background-color: #c4d6cb;*/}

        .recipe-single-result {
            height: 200px;
            /*border-right: 1px black solid;*/
        }

        .col {
            height: 100%;
        }

        .vertical-divider {
            height: 100%;
            width: 1px;
            margin: 0 auto;
        }

        .photos {
            height: 100%;
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin-left: 20px;
        }
    </style>

</body>
</html>