<div class="container">
    <div class="center custom-header-wrapper">
        <h2 class="custom-title-font-family">As a Coach I put the Power back in YOUR hands.</h2>
        <br>
        <span class="flow-text">
        Learn more about my training and my unique appraoch to health coaching. If you are curious about how health coaching can help you, then Let's talk. Schedule an <a id="footerForm" class="orange-text" href="#first_name">inital consultation</a> with me today.
        </span>
    </div> <!-- custom-header-wrapper - End -->
    <br>
    <br>
</div>

<div class="parallax-container">
    <div class="parallax"><img src="images/laura-martinez-2.jpeg"></div>
</div>
<br>
<br>

<div class="container">
    <div class="row custom-4-col-wrapper white-text">
        <div class="col s12 m6 l3 yellow black-text">
            <h5 class="custom-title-font-family underline">Education</h5>
            <span class="flow-text custom-font-size-1">
            I graduated from the Institute for Integrative Nutrition where I learned innovative coaching methods, practical lifestyle management techniques, and over 100 dietary theories; everything from Ayurveda, gluten-free, and Paleo, to raw, vegan, and macrobiotics, and everything in between.
            </span>
        </div>
        <div class="col s12 m6 l3 blue">
            <h5 class="custom-title-font-family underline">Training</h5>
            <span class="flow-text custom-font-size-1">
            I received my training from the Institute for Integrative Nutrition, where I studied a variety of dietary theories and practical lifestyle coaching methods. With my knowledge, we co-create completely personalized actions based on your goals to move you toward your ideal vision of health within your unique body, lifestyle, preferences, and resources. 
            </span>
        </div>
        <div class="col s12 m6 l3 green">
            <h5 class="custom-title-font-family underline">Impact</h5>
            <span class="flow-text custom-font-size-1">
            I am involved in multiple oragnizations sprinkled about San Diego that promote a healthy lifestyle. For me, this is not only a job but it is a hobby, a lifestyle, and most importantly, a message.
            </span>
        </div>
        <div class="col s12 m6 l3 red">
            <h5 class="custom-title-font-family underline">Mission</h5>
            <span class="flow-text custom-font-size-1">
            The Mission is crucial! Having a healthy diet should be among one of the highest priorities of your daily lifestyle and if it is not already then I intend to change it. A healthy life is about being aware of the food your body will try to make use of. In today's world it is easy to get a hold of cheap, greasy food, I am going to show you how easy it is to find cheap, <span class="bold">healthy</span> food!
            </span>
        </div>
    </div> <!-- custom-4-col-wrapper - End -->
    <br>
    <br>
    <div class="custom-client-quotes-wrapper z-depth-3 custom-font-size-1">
        <div class="center"><h4>See what People are saying!</h4></div>
        <div class="divider"></div><br>
        <div class="row">
            <div class="s12 col l1">
                <img class="circle responsive-img" src="images/client-1-100x100.jpg">
            </div>
            <div class="col s12 l11">
                <span class="italicize">
                "I shopped around for ages and there are zero regrets with Laura. She is extremely nice and patient! She helped me setup a meal plan for an entire month in just one sitting. It's been 4 months later and I have already lost 20 lbs and my blood-sugar levels have never been lower! I recommend her to anyone he who serious about their health!"
                </span>
            </div>
        </div>
        <div class="divider"></div><br>
        <div class="row">
            <div class="col s12 l1">
                <img class="circle responsive-img" src="images/client-1-100x100.jpg">
            </div>
            <div class="col l11">
                <span class="italicize">
                "I shopped around for ages and there are zero regrets with Laura. She is extremely nice and patient! She helped me setup a meal plan for an entire month in just one sitting. It's been 4 months later and I have already lost 20 lbs and my blood-sugar levels have never been lower! I recommend her to anyone he who serious about their health!"
                </span>
            </div>
        </div>
        <div class="divider"></div><br>
        <div class="row">
            <div class="col s12 l1">
                <img class="circle responsive-img" src="images/client-1-100x100.jpg">
            </div>
            <div class="col l11">
                <span class="italicize">
                "I shopped around for ages and there are zero regrets with Laura. She is extremely nice and patient! She helped me setup a meal plan for an entire month in just one sitting. It's been 4 months later and I have already lost 20 lbs and my blood-sugar levels have never been lower! I recommend her to anyone he who serious about their health!"
                </span>
            </div>
        </div>
        <div class="divider"></div><br>
        <div class="row">
            <div class="col s12 l1">
                <img class="circle responsive-img" src="images/client-1-100x100.jpg">
            </div>
            <div class="col l11">
                <span class="italicize">
                "I shopped around for ages and there are zero regrets with Laura. She is extremely nice and patient! She helped me setup a meal plan for an entire month in just one sitting. It's been 4 months later and I have already lost 20 lbs and my blood-sugar levels have never been lower! I recommend her to anyone he who serious about their health!"
                </span>
            </div>
        </div>
    </div> <!-- custom-client-quotes-wrapper - End -->
    <br>
    <br>
    <div class="custom-credits-wrapper">
        <div class="custom-font-size-1 center">I studied with the world's top health and wellness experts including:</div>
        <ul class="browser-default custom-list-indent">
            <li>
                <span class="bold">Joshua Rosenthal</span>,
                MScED, founder and director of the Institute for Integrative Nutrition
            </li>
            <li>
                <span class="bold">Deepak Chopra, MD</span>
                World Leader in Mind-Body Medicine, Director of Education at The Chopra Center, Bestselling Author
            </li>
            <li>
                <span class="bold">David Katz, MD, MPH</span>,
                Authority on Preventive Medicine and Weight Management, Director of the Yale Prevention Research Center
            </li>
            <li>
                <span class="bold">Walter Willett, MD, DrPH</span>,
                Chair of the Department of Nutrition at Harvard’s School of Public Health and Bestselling Author
            </li>
            <li>
                <span class="bold">Andrew Weil, MD</span>,
                Bestselling Author and Expert on Integrative Medicine and Mind-Body Interactions
            </li>
            <li>
                <span class="bold">Gabrielle Bernstein</span>,
                Motivational Speaker, Life Coach, Bestselling Author
            </li>
            <li>
                <span class="bold">Susan Blum, MD, MPH</span>,
                Functional Medicine Doctor, Founder of Blum Center for Health
            </li>
            <li>
                <span class="bold">Mark Hyman, MD</span>,
                Founder and Medical Director of The UltraWellness Center, Bestselling Author
            </li>
            <li>
                <span class="bold">Geneen Roth</span>,
                Pioneer of Emotional Eating and Empowerment, Bestselling Author
            </li>
            <li>
                <span class="bold">David Wolfe</span>,
                recognized Expert and Bestselling Author on Superfoods and Raw Nutrition
            </li>
            <li>
                <span class="bold">Marion Nestle, PhD, MPH</span>,
                Paulette Goddard Professor of Nutrition, Food Studies and Public Health at New York University
            </li>
            <li>
                <span class="bold">Mark Bittman</span>,
                New York Times Columnist, Bestselling Author
            </li>
        </ul>
    </div> <!-- custom-credits-wrapper - End -->
    <br>
    <br>
    <div class="custom-closer-wrapper">
        My education has equipped me with extensive, cutting-edge knowledge in holistic nutrition, health coaching, and prevention. Drawing on my expertise, I work with clients like you to help make lifestyle changes and choose health-promoting ways that produce real and lasting results. You will develop a deeper understanding of food and lifestyle choices that work best for you, improving your energy, balance, health, and happiness.
        <br>
        <br>
        Each session will leave you feeling inspired and motivated. We will talk about things beyond food, seeking to bring balance to important elements of your life such as love and relationship as well as career and money. I will personally and carefully guide you to make simple, small changes that transform your life.
    </div> <!-- custom-closer-wrapper - End -->
</div> <!-- container - End -->

<style type="text/css">
    .bold {
        font-weight: bold !important;
    }

    .italicize {
        font-style: italic !important;
    }

    .underline {
        text-decoration: underline;
    }

    .custom-list-indent {
        margin-left: 80px;
        margin-right: 80px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: black solid 1px;
        border-bottom: black solid 1px;
    }

    .custom-font-size-1 {
        font-size: 1.25em !important;
    }

    .custom-title-font-family {
        font-family: 'Times New Roman';
        font-variant: small-caps;
    }

    .custom-client-quotes-wrapper {
        padding: 10px 20px !important;
        margin: 10px 20px;
        text-align: center;
    }

    .custom-4-col-wrapper .col {
        height: 400px;
        margin-bottom: 1px;
    }

    /* mobile (s6) - orientation: portrait */
    @media (max-width: 800px) 
    and (orientation: portrait) {
        .custom-list-indent {
            margin-left: 0px;
            margin-right: 0px;
            padding-top: 10px;
            padding-bottom: 10px;
            border-top: black solid 1px;
            border-bottom: black solid 1px;
        }
    }

    /* mobile (s6) - orientation: landscape */
    @media (max-width: 800px) 
    and (orientation: landscape) {
    }

    /* tablet (ipad mini 1) - orientation: portrait */
    @media (min-device-width: 768px)
    and (max-device-width: 1000px) { 
    }

    /* tablet (ipad mini 1) - orientation: landscape*/
    @media only screen
    and (min-device-width: 768px) 
    and (max-device-width: 1100px)
    and (orientation: landscape) {
    }

    /* tablet (galaxy tab 4) - orientation: portrait */
    @media (min-width: 800px) 
    and (max-width: 900px) {
    }

    /* WHAT IS THIS? */
    @media (min-width: 901px) 
    and (max-width: 1999px)
    and (orientation: portrait) {
        body{background-color: white;}
        .custom-4-col-wrapper .col {
            height: 430px;
            margin-bottom: 1px;
        }
    }

    /* tablet (galaxy tab 4) - orientation: landscape */
    @media (min-width: 1100px) 
    and (max-width: 1399px)
    and (orientation: landscape) {
    }

    /* desktop */
    @media (min-width: 1400px) {
        body{background-color: white;}
    }
</style>

<script type="text/javascript">
    $(document).ready(function() {
        $('.parallax').parallax();
    });
</script>