<div class="container white z-depth-5">
    <div class="center LM-logo-wrapper">
        <img class="responsive-img" src="images/logo-600x600.jpg">
    </div>

    <div class="LM-blog-wrapper">
        <div id="blog_1" class="LM-blogs flow-text">
            <article>
                <section>
                    <div class="container">
                        <ul class="collapsible" data-collapsible="accordion">
                            <li>
                                <div class="collapsible-header">
                                    <div class="row">
                                        <div class="col s6 m6 m6 left-align">Welcome to my Blog!</div>
                                        <div class="col s6 m6 m6 right-align">12/06/2016</div>
                                    </div>
                                </div>
                                <div class="collapsible-body">
                                    <div class="row">
                                        <div class="col s12 m12 l12 center-align">
                                            <h4>Welcome to my Blog!</h4>
                                            <span>A little about what the plan is</span>
                                        </div>
                                    </div>
                                    <p>
                                        Lorem ipsum faucibus potenti tincidunt himenaeos elementum donec senectus, nec ultricies volutpat ante gravida class sodales lectus et, a torquent class at vivamus praesent arcu id consequat conubia ut auctor eleifend inceptos curabitur felis, vulputate pharetra amet blandit quisque faucibus quam quisque vehicula, gravida id mi auctor phasellus consectetur potenti amet duis integer conubia dictumst interdum fusce pretium ornare orci egestas, erat himenaeos class tortor pretium posuere ornare auctor vehicula cras, habitasse commodo euismod tristique et luctus nunc curabitur porttitor per et platea metus habitasse elementum senectus aenean.<br><br>Lectus donec velit rutrum nam aptent curabitur condimentum inceptos tincidunt lorem sapien risus velit, diam ut orci fringilla ipsum nostra donec molestie eu aptent conubia at ut, nam quis potenti egestas libero faucibus pellentesque nunc feugiat eros convallis tellus sapien facilisis convallis vivamus justo lacinia cras tempus, luctus in aliquet ornare suspendisse etiam diam, ornare porta eget sollicitudin suscipit bibendum dapibus urna interdum condimentum quisque nec vivamus ut hac morbi, et justo lacinia dolor conubia sit class quisque, dapibus sed ad praesent donec phasellus sed faucibus inceptos tempus non imperdiet quisque quis.<br><br>Consectetur vehicula ac malesuada pulvinar porta scelerisque aliquam ac mi hendrerit sagittis, dolor leo bibendum sociosqu dolor nec hendrerit id senectus himenaeos facilisis praesent leo nam dapibus curabitur congue dolor, pharetra rutrum adipiscing vestibulum turpis urna dictumst nullam, tellus a himenaeos tempus feugiat in vivamus porttitor ut ultricies accumsan hendrerit sed laoreet rutrum, faucibus fringilla ullamcorper adipiscing lacus nibh orci sociosqu, aliquet lacinia praesent per tellus bibendum maecenas porttitor consectetur nisi sem eleifend ut senectus, placerat hendrerit elit quisque aliquam dapibus, ultrices eleifend quisque vitae varius tincidunt gravida fames himenaeos tempor etiam morbi venenatis cubilia magna massa curabitur fusce.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">
                                    <div class="row">
                                        <div class="col s6 m6 m6 left-align">Latest News on Website!</div>
                                        <div class="col s6 m6 m6 right-align">12/05/2016</div>
                                    </div>
                                </div>
                                <div class="collapsible-body">
                                    <div class="row">
                                        <div class="col s12 m12 l12 center-align">
                                            <h4>Under Construction ATM</h4>
                                            <span>But we're almost there :)</span>
                                        </div>
                                    </div>
                                    <p>
                                        Lorem ipsum faucibus potenti tincidunt himenaeos elementum donec senectus, nec ultricies volutpat ante gravida class sodales lectus et, a torquent class at vivamus praesent arcu id consequat conubia ut auctor eleifend inceptos curabitur felis, vulputate pharetra amet blandit quisque faucibus quam quisque vehicula, gravida id mi auctor phasellus consectetur potenti amet duis integer conubia dictumst interdum fusce pretium ornare orci egestas, erat himenaeos class tortor pretium posuere ornare auctor vehicula cras, habitasse commodo euismod tristique et luctus nunc curabitur porttitor per et platea metus habitasse elementum senectus aenean.<br><br>Lectus donec velit rutrum nam aptent curabitur condimentum inceptos tincidunt lorem sapien risus velit, diam ut orci fringilla ipsum nostra donec molestie eu aptent conubia at ut, nam quis potenti egestas libero faucibus pellentesque nunc feugiat eros convallis tellus sapien facilisis convallis vivamus justo lacinia cras tempus, luctus in aliquet ornare suspendisse etiam diam, ornare porta eget sollicitudin suscipit bibendum dapibus urna interdum condimentum quisque nec vivamus ut hac morbi, et justo lacinia dolor conubia sit class quisque, dapibus sed ad praesent donec phasellus sed faucibus inceptos tempus non imperdiet quisque quis.<br><br>Consectetur vehicula ac malesuada pulvinar porta scelerisque aliquam ac mi hendrerit sagittis, dolor leo bibendum sociosqu dolor nec hendrerit id senectus himenaeos facilisis praesent leo nam dapibus curabitur congue dolor, pharetra rutrum adipiscing vestibulum turpis urna dictumst nullam, tellus a himenaeos tempus feugiat in vivamus porttitor ut ultricies accumsan hendrerit sed laoreet rutrum, faucibus fringilla ullamcorper adipiscing lacus nibh orci sociosqu, aliquet lacinia praesent per tellus bibendum maecenas porttitor consectetur nisi sem eleifend ut senectus, placerat hendrerit elit quisque aliquam dapibus, ultrices eleifend quisque vitae varius tincidunt gravida fames himenaeos tempor etiam morbi venenatis cubilia magna massa curabitur fusce.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">
                                    <div class="row">
                                        <div class="col s6 m6 m6 left-align">Holiday Recipe - Fruit Salad</div>
                                        <div class="col s6 m6 m6 right-align">12/03/2016</div>
                                    </div>
                                </div>
                                <div class="collapsible-body">
                                    <div class="row">
                                        <div class="col s12 m12 l12 center-align">
                                            <h4>Banana, Apple and Blueberry Salad</h4>
                                            <span>The best desert you'll ever have</span>
                                        </div>
                                    </div>
                                    <p>
                                        Lorem ipsum faucibus potenti tincidunt himenaeos elementum donec senectus, nec ultricies volutpat ante gravida class sodales lectus et, a torquent class at vivamus praesent arcu id consequat conubia ut auctor eleifend inceptos curabitur felis, vulputate pharetra amet blandit quisque faucibus quam quisque vehicula, gravida id mi auctor phasellus consectetur potenti amet duis integer conubia dictumst interdum fusce pretium ornare orci egestas, erat himenaeos class tortor pretium posuere ornare auctor vehicula cras, habitasse commodo euismod tristique et luctus nunc curabitur porttitor per et platea metus habitasse elementum senectus aenean.<br><br>Lectus donec velit rutrum nam aptent curabitur condimentum inceptos tincidunt lorem sapien risus velit, diam ut orci fringilla ipsum nostra donec molestie eu aptent conubia at ut, nam quis potenti egestas libero faucibus pellentesque nunc feugiat eros convallis tellus sapien facilisis convallis vivamus justo lacinia cras tempus, luctus in aliquet ornare suspendisse etiam diam, ornare porta eget sollicitudin suscipit bibendum dapibus urna interdum condimentum quisque nec vivamus ut hac morbi, et justo lacinia dolor conubia sit class quisque, dapibus sed ad praesent donec phasellus sed faucibus inceptos tempus non imperdiet quisque quis.<br><br>Consectetur vehicula ac malesuada pulvinar porta scelerisque aliquam ac mi hendrerit sagittis, dolor leo bibendum sociosqu dolor nec hendrerit id senectus himenaeos facilisis praesent leo nam dapibus curabitur congue dolor, pharetra rutrum adipiscing vestibulum turpis urna dictumst nullam, tellus a himenaeos tempus feugiat in vivamus porttitor ut ultricies accumsan hendrerit sed laoreet rutrum, faucibus fringilla ullamcorper adipiscing lacus nibh orci sociosqu, aliquet lacinia praesent per tellus bibendum maecenas porttitor consectetur nisi sem eleifend ut senectus, placerat hendrerit elit quisque aliquam dapibus, ultrices eleifend quisque vitae varius tincidunt gravida fames himenaeos tempor etiam morbi venenatis cubilia magna massa curabitur fusce.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
            </article>
        </div>
    </div>
</div>

<style type="text/css">
    body {background-color: #009688}

    .container {
        padding-bottom: 50px;
    }

    .LM-logo-wrapper {
        margin-top: 15px;
    }

    .LM-blog-wrapper {
        width: 100%;
    }

    .LM-blogs {
        border-radius: 5px;
    }

    .LM-blogs header {
        padding-left: 20px;
        padding-right: 20px;
    }

    .LM-date-wrapper {
        margin-top: 17px;
        margin-bottom: 0 !important;
    }

    .LM-padding-r-10 {
        padding-right: 10px;
    }
</style>

<script type="text/javascript">
    $(document).ready(function(){
        $('.collapsible').collapsible();
    });
</script>