<div class="container">
    <div class="row">
        <h2 class="custom-title-font center">Events</h2>
        <div class="divider"></div>
        <p class="flow-text center">Stay up to date with up coming events!</p>
    </div>


    <div class="row">
        <div class="custom-events-wrapper">
            <h5 class="center">Latest Event</h5>
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="images/onion-640x480.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Nutri-Health Presentaion<i class="material-icons right">more_vert</i></span>
                    <p><a class="orange-text" href="#">RSVP to this Event</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Nutri-Health Presentaion<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>

        <div class="custom-events-wrapper green lighten-1">
            <div class="calendar-ui-wrapper">
                <div class="row center valign-wrapper">
                    <div class="col s3 m2 l2 valign">
                        <a class="prev-month-btn btn-floating btn waves-effect waves-light teal">
                            <i class="material-icons">keyboard_arrow_left</i>
                        </a>
                    </div>
                    <div class="col s6 m8 l8">
                        <h4 class="todaysDate">
                            <span class="header-day-of-the-week"></span><br />
                            <span class="header-month"></span>
                            <span class="header-day-number"></span>
                            <span class="header-year"></span>
                        </h4>
                    </div>
                    <div class="col s3 m2 l2">
                        <a class="next-month-btn btn-floating btn waves-effect waves-light teal">
                            <i class="material-icons">keyboard_arrow_right</i>
                        </a>
                    </div>
                </div>
                <table class="calendar-table">
                    <thead class="calendar-days-of-the-week">
                        <tr>
                            <th class="th1" data-sm="Su" data-med="Sun" data-large="Sunday"></th>
                            <th class="th2" data-sm="M" data-med="Mon" data-large="Monday"></th>
                            <th class="th3" data-sm="Tu" data-med="Tue" data-large="Tuesday"></th>
                            <th class="th4" data-sm="W" data-med="Wed" data-large="Wednesday"></th>
                            <th class="th5" data-sm="Th" data-med="Thu" data-large="Thursday"></th>
                            <th class="th6" data-sm="F" data-med="Fri" data-large="Friday"></th>
                            <th class="th7" data-sm="Sa" data-med="Sat" data-large="Saturday"></th>
                        </tr>
                    </thead>
                    <tbody class="calendar-months">
                        <tr class="fake_week">
                            <td colspan="7"></td>
                        </tr>
                        <tr class="row_1 week_1 calendar-weeks">
                            <td class="col_1 Sunday calendar-days">
                                <div class="calendar-days-wrapper">
                                    <span class="dayNumberOfMonth"></span>
                                </div>
                            </td>
                            <td class="col_2 Monday calendar-days">
                                <div class="calendar-days-wrapper">
                                    <span class="dayNumberOfMonth"></span>
                                </div>
                            </td>
                            <td class="col_3 Tuesday calendar-days">
                                <div class="calendar-days-wrapper">
                                    <span class="dayNumberOfMonth"></span>
                                </div>
                            </td>
                            <td class="col_4 Wednesday calendar-days">
                                <div class="calendar-days-wrapper">
                                    <span class="dayNumberOfMonth"></span>
                                </div>
                            </td>
                            <td class="col_5 Thursday calendar-days">
                                <div class="calendar-days-wrapper">
                                    <span class="dayNumberOfMonth"></span>
                                </div>
                            </td>
                            <td class="col_6 Friday calendar-days">
                                <div class="calendar-days-wrapper">
                                    <span class="dayNumberOfMonth"></span>
                                </div>
                            </td>
                            <td class="col_7 Saturday calendar-days">
                                <div class="calendar-days-wrapper">
                                    <span class="dayNumberOfMonth"></span>
                                </div>
                            </td>
                        </tr>
                        <tr class="row_2 week_2 calendar-weeks">
                            <td class="col_1 Sunday calendar-days">
                                <div class="calendar-days-wrapper">
                                    <span class="dayNumberOfMonth"></span>
                                </div>
                            </td>
                            <td class="col_2 Monday calendar-days">
                                <div class="calendar-days-wrapper">
                                    <span class="dayNumberOfMonth"></span>
                                </div>
                            </td>
                            <td class="col_3 Tuesday calendar-days">
                                <div class="calendar-days-wrapper">
                                    <span class="dayNumberOfMonth"></span>
                                </div>
                            </td>
                            <td class="col_4 Wednesday calendar-days">
                                <div class="calendar-days-wrapper">
                                    <span class="dayNumberOfMonth"></span>
                                </div>
                            </td>
                            <td class="col_5 Thursday calendar-days">
                                <div class="calendar-days-wrapper">
                                    <span class="dayNumberOfMonth"></span>
                                </div>
                            </td>
                            <td class="col_6 Friday calendar-days">
                                <div class="calendar-days-wrapper">
                                    <span class="dayNumberOfMonth"></span>
                                </div>
                            </td>
                            <td class="col_7 Saturday calendar-days">
                                <div class="calendar-days-wrapper">
                                    <span class="dayNumberOfMonth"></span>
                                </div>
                            </td>
                        </tr>
                        <tr class="row_3 week_3 calendar-weeks">
                            <td class="col_1 Sunday calendar-days">
                                <div class="calendar-days-wrapper">
                                    <span class="dayNumberOfMonth"></span>
                                </div>
                            </td>
                            <td class="col_2 Monday calendar-days">
                                <div class="calendar-days-wrapper">
                                    <span class="dayNumberOfMonth"></span>
                                </div>
                            </td>
                            <td class="col_3 Tuesday calendar-days">
                                <div class="calendar-days-wrapper">
                                    <span class="dayNumberOfMonth"></span>
                                </div>
                            </td>
                            <td class="col_4 Wednesday calendar-days">
                                <div class="calendar-days-wrapper">
                                    <span class="dayNumberOfMonth"></span>
                                </div>
                            </td>
                            <td class="col_5 Thursday calendar-days">
                                <div class="calendar-days-wrapper">
                                    <span class="dayNumberOfMonth"></span>
                                </div>
                            </td>
                            <td class="col_6 Friday calendar-days">
                                <div class="calendar-days-wrapper">
                                    <span class="dayNumberOfMonth"></span>
                                </div>
                            </td>
                            <td class="col_7 Saturday calendar-days">
                                <div class="calendar-days-wrapper">
                                    <span class="dayNumberOfMonth"></span>
                                </div>
                            </td>
                        </tr>
                        <tr class="row_4 week_4 calendar-weeks">
                            <td class="col_1 Sunday calendar-days">
                                <div class="calendar-days-wrapper">
                                    <span class="dayNumberOfMonth"></span>
                                </div>
                            </td>
                            <td class="col_2 Monday calendar-days">
                                <div class="calendar-days-wrapper">
                                    <span class="dayNumberOfMonth"></span>
                                </div>
                            </td>
                            <td class="col_3 Tuesday calendar-days">
                                <div class="calendar-days-wrapper">
                                    <span class="dayNumberOfMonth"></span>
                                </div>
                            </td>
                            <td class="col_4 Wednesday calendar-days">
                                <div class="calendar-days-wrapper">
                                    <span class="dayNumberOfMonth"></span>
                                </div>
                            </td>
                            <td class="col_5 Thursday calendar-days">
                                <div class="calendar-days-wrapper">
                                    <span class="dayNumberOfMonth"></span>
                                </div>
                            </td>
                            <td class="col_6 Friday calendar-days">
                                <div class="calendar-days-wrapper">
                                    <span class="dayNumberOfMonth"></span>
                                </div>
                            </td>
                            <td class="col_7 Saturday calendar-days">
                                <div class="calendar-days-wrapper">
                                    <span class="dayNumberOfMonth"></span>
                                </div>
                            </td>
                        </tr>
                        <tr class="row_5 week_5 calendar-weeks">
                            <td class="col_1 Sunday calendar-days">
                                <div class="calendar-days-wrapper">
                                    <span class="dayNumberOfMonth"></span>
                                </div>
                            </td>
                            <td class="col_2 Monday calendar-days">
                                <div class="calendar-days-wrapper">
                                    <span class="dayNumberOfMonth"></span>
                                </div>
                            </td>
                            <td class="col_3 Tuesday calendar-days">
                                <div class="calendar-days-wrapper">
                                    <span class="dayNumberOfMonth"></span>
                                </div>
                            </td>
                            <td class="col_4 Wednesday calendar-days">
                                <div class="calendar-days-wrapper">
                                    <span class="dayNumberOfMonth"></span>
                                </div>
                            </td>
                            <td class="col_5 Thursday calendar-days">
                                <div class="calendar-days-wrapper">
                                    <span class="dayNumberOfMonth"></span>
                                </div>
                            </td>
                            <td class="col_6 Friday calendar-days">
                                <div class="calendar-days-wrapper">
                                    <span class="dayNumberOfMonth"></span>
                                </div>
                            </td>
                            <td class="col_7 Saturday calendar-days">
                                <div class="calendar-days-wrapper">
                                    <span class="dayNumberOfMonth"></span>
                                </div>
                            </td>
                        </tr>
                        <tr class="row_6 week_6 calendar-weeks">
                            <td class="col_1 Sunday calendar-days">
                                <div class="calendar-days-wrapper">
                                    <span class="dayNumberOfMonth"></span>
                                </div>
                            </td>
                            <td class="col_2 Monday calendar-days">
                                <div class="calendar-days-wrapper">
                                    <span class="dayNumberOfMonth"></span>
                                </div>
                            </td>
                            <td class="col_3 Tuesday calendar-days">
                                <div class="calendar-days-wrapper">
                                    <span class="dayNumberOfMonth"></span>
                                </div>
                            </td>
                            <td class="col_4 Wednesday calendar-days">
                                <div class="calendar-days-wrapper">
                                    <span class="dayNumberOfMonth"></span>
                                </div>
                            </td>
                            <td class="col_5 Thursday calendar-days">
                                <div class="calendar-days-wrapper">
                                    <span class="dayNumberOfMonth"></span>
                                </div>
                            </td>
                            <td class="col_6 Friday calendar-days">
                                <div class="calendar-days-wrapper">
                                    <span class="dayNumberOfMonth"></span>
                                </div>
                            </td>
                            <td class="col_7 Saturday calendar-days">
                                <div class="calendar-days-wrapper">
                                    <span class="dayNumberOfMonth"></span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<style>
    .custom-title-font {
        font-family: 'Times New Roman';
        font-variant-caps: small-caps;
    }

    .custom-events-wrapper {
        display: inline-block;
        vertical-align: top;
    }

    .custom-events-wrapper:first-child {
        width: 100%;
    }

    .custom-events-wrapper:last-child {
        padding: 20px;
        width: 100%;
    }

    /************************************/

    .th1:after { content: attr(data-sm); }
    .th2:after { content: attr(data-sm); }
    .th3:after { content: attr(data-sm); }
    .th4:after { content: attr(data-sm); }
    .th5:after { content: attr(data-sm); }
    .th6:after { content: attr(data-sm); }
    .th7:after { content: attr(data-sm); }
    
    .calendar-ui-wrapper {
        width: 100%;
        height: 100%;
        padding: 5px 5px;
        background-color: white;
    }

    .calendar-table {
        width: 100%;
        height: 100%;
        border-collapse: collapse;
    }

    .todaysDate {
        font-size: 1.22em;
    }

    .current-day .dayNumberOfMonth {
        position: relative;
    }

    .current-day .dayNumberOfMonth:after {
        position: absolute;
        top: -6.5px;
        left: -7px;
        content: attr(data-after);
        height: 30px;
        width:  30px;
        color: white;
        border-radius: 100px;
        background-color: #388e3c;
        border: 5px #388e3c solid;
    }

    .calendar-days,
    .calendar-weeks {
        text-align: center;
        vertical-align: middle;
    }

    .calendar-table th {
        border-bottom: 1px solid black;
        color: grey;
    }

    .calendar-months tr:first-child,
    .calendar-months tr:first-child td {
        height: 5px;
        padding: 0;
    }

    .calendar-days-wrapper {
        width: 100%;
        height: 100%;
    }

    .next-month,
    .previous-month {
        background-color: lightgrey;
    }

    .next-month:hover,
    .previous-month:hover {
        background-color: grey;
        color: black;
    }

    .calendar-days-of-the-week th {
        width: 40px !important;
        text-align: center;
    }

    .calendar-weeks {
        width: 100%;
    }

    /* small */
    @media (min-width: 768px) {
        /*body {background-color: green;}*/

        .todaysDate {
            font-size: 1.5rem;
        }

        .custom-events-wrapper:first-child {
            padding-left: 100px;
            padding-right: 100px;
        }

        .calendar-weeks {
            height: 70px !important;
        }

        .current-day .dayNumberOfMonth:after {
            top: -6px;
            left: -7.5px;
            height: 30px;
            width:  30px;
        }
    }

    /* medium */
    @media (min-width: 992px) {
        /*body {background-color: blue;}*/

        .calendar-weeks {
            height: 85px !important;
        }

        .current-day .dayNumberOfMonth:after {
            top: -6.5px;
            left: -7.5px;
            height: 35px;
            width:  35px;
        }
    }

    /* desktop */
    @media (min-width: 1200px) {
        /*body {background-color: yellow;}*/

        .calendar-days-of-the-week th,
        .calendar-days-of-the-week td {
            width: 200px !important;
        }

        .calendar-weeks {
            height: 100px !important;
        }

        .calendar-ui-wrapper {
            font-size: 1.20em;
        }

        .custom-events-wrapper:first-child {
            width: 39%;
            padding-left: 0px;
            padding-right: 0px;
            margin-top: 100px;
            margin-right: 10px;
        }

        .custom-events-wrapper:last-child {
            width: 59%;
        }

        .current-day .dayNumberOfMonth:after {
            left: -7.5px;
        }
    }

</style>

<script type="text/javascript">
    /* GLOBAL VARAIABLES */
    var d = new Date();

    var g_DaysOfTheWeek = [
        'Sunday', 'Monday', 'Tuesday',
        'Wednesday', 'Thursday', 'Friday',
        'Saturday'
    ];

    var g_MonthsOfTheYear = [
        'January', 'February', 'March',
        'April', 'May', 'June',
        'July', 'August', 'September',
        'October', 'November', 'December'
    ];

    var g_DaysPerMonth_CurrYear = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];
    if(d.getFullYear() % 4 === 0)
        g_DaysPerMonth_CurrYear[1] = 29;

    var g_DaysOfTheWeek = [
        'Sunday', 'Monday', 'Tuesday',
        'Wednesday', 'Thursday', 'Friday', 'Saturday'
    ];

    var g_MonthsOfTheYear = [
        'January', 'February', 'March', 'April', 'May', 'June',
        'July', 'August', 'September', 'October', 'November', 'December'
    ];

    var g_ReferenceObj = {
        'day': 1,
        'month': 0,
        'year': 1970,//2016,
        'dayOfTheWeek': 'Thursday',//'Friday',
        'loc_FirstDay': {
            'r': 1, 'c': 5//6
        },
        'loc_LastDay': {
            'r': 5, 'c': 7//6, 'c': 1
        },
        'offset': 3//2
    };

    var today = {
        'day': d.getDate(),
        'month': d.getMonth(),
        'year': d.getFullYear(),
        'dayOfTheWeek': d.getDay() + 1, // +1 bc range is [0,6]
    };

    /////////////////////////// TEST ///////////////////////////
    // Status: Failing with current test
    // var today = {
    //     'day': 7,
    //     'month': 2,
    //     'year': 1987,
    //     'dayOfTheWeek': 7, // must be manually calculated
    // };
    ///////////////////////////////////////////////////////////

    var g_CurrMonthObj = {
        'month': -1,
        'year': -1,
        'loc_FirstDay': {
            'r': -1, 'c': -1
        },
        'loc_TargetDay': {
            'r': -1, 'c': -1
        },
        'loc_LastDay': {
            'r': -1, 'c': -1
        },
        'previousMonth': {
            'lastDay': -1,
            'month': -1,
            'year': -1,
            'loc_LastDay': {
                'r': -1, 'c': -1
            }
        }
    };

    /*
        Purpose: Removes any styling in the calendar display including the days
                    written in the month
    */
    function ClearMonth() {
        for(var row = 1; row < 7; ++row) {
            for(var col = 1; col < 8; ++col) {
                var calendarCell = '.row_' + row + ' .col_' + col;
                var dayIterator = calendarCell + ' .dayNumberOfMonth';
                $(calendarCell).removeClass('next-month');
                $(calendarCell).removeClass('previous-month');
                $(calendarCell).removeClass('current-day');
                $(dayIterator).html('');
            }
        }

        $('.header-day-of-the-week').html('');
        $('.header-day-number').html('');
        $('.header-month').html('');
        $('.header-year').html('');
    }

    function BuildCurrentMonthObject(targetMonth, targetYear) {
        console.log(
            '\n----------------------------------------\n' +
            'Target Month: '+targetMonth+'\n' +
            'Target Year : '+targetYear+ '\n'
        );

        g_CurrMonthObj.month = targetMonth;
        g_CurrMonthObj.year = targetYear;

        if(targetYear % 4 === 0) {
            g_DaysPerMonth_CurrYear[1] = 29;
        } else {
            g_DaysPerMonth_CurrYear[1] = 28;
        }

        // Calculate the location of the first day of this month
        var n_DaysFromTheFirst = SumDaysWithinMonths(g_DaysPerMonth_CurrYear, g_ReferenceObj.month, targetMonth);
        var n_YearsFromOrigin = SumDaysWithinYears(g_ReferenceObj.year, targetYear);
        n_DaysFromTheFirst += n_YearsFromOrigin;

        console.log('n_DaysFromTheFirst:>',n_DaysFromTheFirst);

        // make the year's week begin on a Sunday
        var n_DaysInAWeek = 7;
        var totalDaysLeft = n_DaysFromTheFirst;
        // total days left after subtracting offset from total days to date
        totalDaysLeft = n_DaysFromTheFirst - g_ReferenceObj.offset;

        var n_DaysIntoTheWeek = totalDaysLeft % n_DaysInAWeek;
        g_CurrMonthObj.loc_FirstDay.r = 1;
        g_CurrMonthObj.loc_FirstDay.c = n_DaysIntoTheWeek + 1;
        console.log('First Day of the Month: (' + g_CurrMonthObj.loc_FirstDay.r + ', ' + g_CurrMonthObj.loc_FirstDay.c + ')');

        var n_DaysInCurrMonth = g_DaysPerMonth_CurrYear[g_CurrMonthObj.month];
        n_DaysInCurrMonth -= (n_DaysInAWeek - n_DaysIntoTheWeek);
        // must add by 1, first week of the month is subtracted in previous line
        var lastWeekNumber = Math.floor(n_DaysInCurrMonth / n_DaysInAWeek) + 1;
        var n_DaysIntoLastWeek = n_DaysInCurrMonth % n_DaysInAWeek;
        if(n_DaysIntoLastWeek === 0)
            n_DaysIntoLastWeek = 7;

        g_CurrMonthObj.loc_LastDay.r = lastWeekNumber;
        g_CurrMonthObj.loc_LastDay.c = n_DaysIntoLastWeek;
        console.log('Last Day of the Month: (' + g_CurrMonthObj.loc_LastDay.r + ', ' + g_CurrMonthObj.loc_LastDay.c + ')');
    }

    function BuildPreviousMonthObject() {
        var lastDay = -1;
        var prevYear = g_CurrMonthObj.year;
        var prevMonth = g_CurrMonthObj.month - 1;
        if(prevMonth < 0) {
            --prevYear;
            prevMonth = 11;
            lastDay = g_DaysPerMonth_CurrYear[prevMonth];
        } else if(prevMonth === 1 && g_CurrMonthObj.year % 4 === 0) {
            lastDay = 29;
        } else {
            lastDay = g_DaysPerMonth_CurrYear[prevMonth];
        }

        g_CurrMonthObj.previousMonth.lastDay = lastDay;
        g_CurrMonthObj.previousMonth.month = prevMonth;
        g_CurrMonthObj.previousMonth.year = prevYear;

        var lastDayRow = 1;
        var lastDayCol = g_CurrMonthObj.loc_FirstDay.c - 1;

        if(lastDayCol < 1) {
            lastDayRow = 0;
            lastDayCol = 0;
        }

        g_CurrMonthObj.previousMonth.loc_LastDay.r = lastDayRow;
        g_CurrMonthObj.previousMonth.loc_LastDay.c = lastDayCol;

        console.log('Previous Month:', g_CurrMonthObj.previousMonth);
    }

    /*
        Purpose: Prepares the next month when user clicks on next-month-btn
        Returns:
    */
    function PrepNextMonthObject() {
        var nextYear = g_CurrMonthObj.year;
        var nextMonth = g_CurrMonthObj.month + 1;
        if(nextMonth > 11) {
            nextMonth = 0;
            ++nextYear;
        }

        BuildCurrentMonthObject(nextMonth, nextYear);
        BuildPreviousMonthObject();
    }

    function PrepPreviousMonthObject() {
        var prevYear = g_CurrMonthObj.year;
        var prevMonth = g_CurrMonthObj.month - 1;
        if(prevMonth < 0) {
            prevMonth = 11;
            --prevYear;
        }

        BuildCurrentMonthObject(prevMonth, prevYear);
        BuildPreviousMonthObject();
    }

    /*
        Purpose: Calculates today's date and the x,y position on the calendar
        Returns: Updates the g_CurrMonthObj object
    */
    function CalculateTargetDate(targetDay, targetMonth) {
        // Calculate the location of the first day of this month
        var n_DaysFromTheFirst = SumDaysWithinMonths(g_DaysPerMonth_CurrYear, g_ReferenceObj.month, targetMonth);

        // make the year's week begin on a Sunday
        var n_DaysInAWeek = 7;
        var totalDaysLeft = n_DaysFromTheFirst;
        // total days left after subtracting offset from total days to date
        if(g_ReferenceObj.offset !== 0)
            totalDaysLeft = n_DaysFromTheFirst - g_ReferenceObj.offset;

        // var totalWeeks = Math.floor(totalDaysLeft / n_DaysInAWeek);
        var n_DaysIntoTheWeek = totalDaysLeft % n_DaysInAWeek;

        var targetRow = Math.ceil(targetDay / n_DaysInAWeek);
        var targetCol = targetDay - (n_DaysInAWeek - n_DaysIntoTheWeek);
        targetCol %= n_DaysInAWeek
        if(targetCol === 0)
            targetCol = 7;

        g_CurrMonthObj.loc_TargetDay.r = targetRow;
        g_CurrMonthObj.loc_TargetDay.c = targetCol;

        console.log('Target Day of the Month: (' + g_CurrMonthObj.loc_TargetDay.r + ', ' + g_CurrMonthObj.loc_TargetDay.c + ')');
    }

    function PopulateMonth() {
        var max_rows = 7,
            max_cols = 8;

        var currMonth = g_DaysPerMonth_CurrYear[g_CurrMonthObj.month];
        var prevMonth = g_CurrMonthObj.previousMonth.lastDay;
        var lastDayCol = g_CurrMonthObj.previousMonth.loc_LastDay.c;

        var nextMonthIterator = 1;
        var lastMonthIterator = prevMonth - lastDayCol + 1;
        var currMonthIterator = 1;

        for(var row = 1; row < max_rows; ++row) {
            for(var col = 1; col < max_cols; ++col) {
                var calendarCell = '.row_' + row + ' .col_' + col;
                var dayIterator = calendarCell + ' .dayNumberOfMonth';

                if(lastMonthIterator <= prevMonth) {
                    $(dayIterator).html(lastMonthIterator);
                    $(calendarCell).addClass('previous-month');
                    ++lastMonthIterator;
                } else if(currMonthIterator > currMonth) {
                    $(dayIterator).html(nextMonthIterator);
                    $(calendarCell).addClass('next-month');
                    ++nextMonthIterator;
                } else {
                    $(dayIterator).html(currMonthIterator);
                    if(today.day === currMonthIterator &&
                        today.month === g_CurrMonthObj.month &&
                        today.year === g_CurrMonthObj.year) {
                        $(calendarCell).addClass('current-day');
                        $(calendarCell + ' .dayNumberOfMonth').attr('data-after', currMonthIterator);
                    }
                    ++currMonthIterator;
                }
            }
        }
    }

    function DisplayNextMonth() {
        ClearMonth();
        PrepNextMonthObject();
        PopulateMonth();

        if(today.month === g_CurrMonthObj.month &&
            today.year === g_CurrMonthObj.year) {
            $('.header-day-of-the-week').html(g_DaysOfTheWeek[today.dayOfTheWeek-1]+',');
            $('.header-day-number').html(today.day+',');
        }

        $('.header-month').html(g_MonthsOfTheYear[g_CurrMonthObj.month]);
        $('.header-year').html(g_CurrMonthObj.year);
    }

    function DisplayPreviousMonth() {
        ClearMonth();
        PrepPreviousMonthObject();
        PopulateMonth();

        if(today.month === g_CurrMonthObj.month &&
            today.year === g_CurrMonthObj.year) {
            $('.header-day-of-the-week').html(g_DaysOfTheWeek[today.dayOfTheWeek-1]+',');
            $('.header-day-number').html(today.day+',');
        }

        $('.header-month').html(g_MonthsOfTheYear[g_CurrMonthObj.month]);
        $('.header-year').html(g_CurrMonthObj.year);
    }

    /*
        from (first day of month 'a') to (last day of month 'b') where:
        @monthsArr - the days/month array
        @a - starting month - inclusive
        @b - ending month - exclusive
    */
    function SumDaysWithinMonths(monthsArr, a, b) {
        var sum = 0;
        for(var i = a; i < b; ++i) {
            sum += monthsArr[i];
        }
        return sum;
    }

    /*
        Prupose: Sums the days between two years
        @origin: Inclusive start year argument
        @b     : Exclusive end year argument
        Returns: Number - the amount of days between 2016 and b
    */
    function SumDaysWithinYears(origin, b) {
        if(origin === b || origin - b === 1)
            return 0;

        var n_Days = 0;
        for(var year = origin; year < b; ++year) {
            if(year % 4 === 0)
                n_Days += 366;
            else
                n_Days += 365;
        }
        return n_Days;
    }

    $(document).ready(function() {
        BuildCurrentMonthObject(today.month, today.year);
        CalculateTargetDate(today.day, today.month);
        BuildPreviousMonthObject();
        PopulateMonth();

        $('.header-day-of-the-week').html(g_DaysOfTheWeek[today.dayOfTheWeek-1]+',');
        $('.header-day-number').html(today.day+',');
        $('.header-month').html(g_MonthsOfTheYear[g_CurrMonthObj.month]);
        $('.header-year').html(g_CurrMonthObj.year);
    });

    $('.next-month-btn').click(function() { DisplayNextMonth(); });

    $('.prev-month-btn').click(function() { DisplayPreviousMonth(); });

    $(document).keydown(function(e) {
        switch(e.which) {
            case 37:        // left arrow key
                DisplayPreviousMonth();
                break;
            case 39:        // right arrow key
                DisplayNextMonth();
                break;
            default:        // no keyboard I'm guessing
                return;     // exit this handler for other keys
                break;
        }
        e.preventDefault(); // prevent the default action (scroll/move caret)
    });

</script>