<div class="container">
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="card">
                <div class="card-image">
                    <img src="images/onion-640x480.jpg">
                    <span class="card-title">Latest Event</span>
                </div>
                <div class="card-content">
                    <p>
                        Come listen to my next product promotion!
                        <br />I will be promoting a very particular banana
                        smoothie with a special ingredient.
                    </p>
                </div>
                <div class="card-action">
                    <a href="#">RSVP To this Event</a>
                </div>
            </div>
        </div>
    </div>
</div>