<div class="container">
    <div class="row center">
        <h2 class="custom-title-font">More than a Coach</h2>
    </div>

    <div class="row center">
        <div class="flow-text">
            An <span class="bold">Integrative Nutrition Health Coach</span> is a guide and mentor who empowers you and provides ongoing support and guidance as you set goals and make sustainable changes that improve your health and happiness.
            As <span class="bold">your Health Coach</span> I will listen carefully and we’ll navigate the world of contradictory nutrition and health advice together to explore what truly works for you. 
        </div>
    </div>

    <div class="row">
        <div class="custom-lists">
            <div class="custom-lists-heading center">Together we will</div>
            <div class="custom-card-text-font">
                <ul class="browser-default">
                    <li>Connect the dots between who you are and who you want to be</li>
                    <li>Create your personal blueprint</li>
                    <li>Decipher your body's unique needs</li>
                    <li>Set your personal goals and work towards sustainable change</li>
                </ul>
            </div>
        </div>
        <div class="custom-lists">
            <div class="custom-lists-heading center">What you get</div>
            <div class="custom-card-text-font">
                <ul class="browser-default">
                    <li>Two 50-minute sessions per month</li>
                    <li>Email support between sessions</li>
                    <li>Simple healthy recipes</li>
                    <li>Handouts specific to your needs and goals</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="parallax-container">
    <div class="parallax"><img src="images/fruits-1280x724.jpg"></div>
</div>

<div class="container">
    <div class="row center">
        <h3 class="custom-title-font">My Approach</h3>
    </div>

    <div class="row">
        <div class="custom-myapproach-wrapper">
            <p class="flow-text">
                I practice a holistic approach to health and wellness, which means
                that I look at how all areas of your life are connected. Does stress
                at your job or in your relationship cause you to overeat? Does lack
                of sleep or low energy prevent you from exercising? As we work together,
                we will look at how all parts of your life affect your health as a whole.
            </p>
            <p class="flow-text">
                My approach is not to dwell on calories, carbs, fats, and proteins.
                It is not to create lists of restrictions or good and bad foods.
                Instead, I work with my clients to create a happy, healthy life in a
                way that is flexible, fun and rewarding.
            </p>
            <p class="flow-text">
                Together we’ll work to reach your health goals in areas such as
                achieving optimal weight, reducing food cravings, increasing sleep,
                and maximizing energy. As we work together, you’ll develop a deeper
                understanding of the food and lifestyle choices that work best for
                you and implement lasting changes that will improve your energy,
                balance and health.
            </p>
            <div class="embedded-img"><!--<img src="images/healthy-products-640x640.jpg">--></div>
        </div>
    </div>

    <div class="row">
        <div class="custom-cards">
            <div class="custom-inner-card">
                <div class="custom-cards-heading center">Integrative Nutrition Plate</div>
                <div class="custom-card-text-font">
                    The Integrative Nutrition Plate emphasizes the importance of local and organic produce, whole grains, high-quality proteins, plant-based fats, and water. It shows you how a plate should appear at mealtime and emphasizes the importance of proportions and portion size. To complete the picture, the plate is surrounded with lifestyle factors that create optimal health: relationship, career, physical activity and spirituality. I’ll introduce you to some of the healthiest foods on the planet and teach you how to find what’s healthiest for your unique body!
                </div>
            </div>
        </div>
        <div class="custom-cards">
            <div class="custom-inner-card">
                <div class="custom-cards-heading center">Primary Food</div>
                <div class="custom-card-text-font">
                    It’s easy to overlook all of the things that contribute to our sense of nourishment and fulfillment. It’s not just the food we eat that affects our health, but all of the other factors present in our daily lives. Healthy relationships, a fulfilling career, regular physical activity, and a spiritual awareness are essential forms of nourishment. When these “primary foods” are balanced, what you eat becomes secondary. I will support you in achieving all of your goals, from eating the right foods for your body to living an inspired, fulfilling life.
                </div>
            </div>
        </div>
        <div class="custom-cards">
            <div class="custom-inner-card">
                <div class="custom-cards-heading center">Crowding Out</div>
                <div class="custom-card-text-font">
                    Many nutrition experts give their clients a list of foods to avoid and foods to eat, which explains why so many people are turned off by nutrition. My approach is different – by eating and drinking foods that are good for you, you will naturally have less room and desire for unhealthy foods. Simply put, you will “crowd out” the unhealthy food in your diet. This takes a little practice to make happen, but I will support you all the way.
                </div>
            </div>
        </div>
        <div class="custom-cards">
            <div class="custom-inner-card">
                <div class="photo photo4"></div>
            </div>
        </div>
        <div class="custom-cards">
            <div class="custom-inner-card">
                <div class="custom-cards-heading center">Bio-Individuality</div>
                <div class="custom-card-text-font">
                    The concept of bio-individuality is the idea that each of us has unique food and lifestyle needs. One person’s food is another person’s poison, and that’s why fad diets tend to fail in the long run. Working on the principle of bio-individuality, I’ll support you to make positive changes that are based on your unique needs, lifestyle, preferences, and ancestral background.
                </div>
            </div>
        </div>
        <div class="custom-cards">
            <div class="custom-inner-card">
                <div class="custom-cards-heading center">Deconstructing Cravings</div>
                <div class="custom-card-text-font">
                    Cravings play a critical role in understanding what your body needs and shouldn’t be ignored. When you learn how to deconstruct your cravings and understand what they’re really telling you, you will be able to reclaim a sense of balance and harmony.
                </div>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="row center flow-text">
        <span>To decide if health coaching is right for you, I invite you to schedule a <a class="orange-text" href="./contact">free initial consultation</a> with me.</span>
        <span>During this session, we will discuss your health and lifestyle to determine how I can best support you in achieving your goals.</span>
        <br>
        <br>
        <a class="custom-title-font orange-text" href="./contact"><span class="h3">Let's get started!</span></a>
    </div>
</div>

<style type="text/css">
    /**/
    .custom-myapproach-wrapper {
        position: relative;
    }

    .custom-myapproach-wrapper .embedded-img {
        height: 350px;
        background-image: url('images/healthy-products-640x640.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    /**/

    .h3 {
        font-size: 2.92rem;
    }

    .bold {
        font-weight: bold;
    }

    .custom-title-font {
        font-family: 'Times New Roman';
        font-variant-caps: small-caps;
    }

    .custom-lists {
        width: 100%;
        display: inline-block;
        margin: 0 !important;
        padding: 0 !important;
    }

    .custom-lists-heading {
        font-family: 'Times New Roman';
        font-size: 2em;
        font-variant-caps: small-caps;
        text-decoration: underline;
    }

    .custom-cards {
        width: 100%;
        display: inline-block;
        margin: 0 !important;
        padding: 0 !important;
        vertical-align: top;
    }

    .custom-inner-card {
        margin: 4px 2px;
        padding-top: 35px;
    }

    .custom-inner-card .custom-cards-heading {
        height: 15%;
        font-size: 1.5em;
        margin-bottom: 15px;
        text-decoration: underline;
        font-family: 'Times New Roman';
        font-variant-caps: small-caps;
    }

    .custom-inner-card .custom-card-text-font {
        height: 85%;
    }

    .custom-inner-card .photo {
        height: 260px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .custom-inner-card .photo4 {
        background-image: url('images/nutrition-diagram-350x300.png');
    }

    .divider {
        margin: 50px auto;
    }

    body{background-color: red;}
    
    /* small */
    @media (min-width: 768px) {
        body{background-color: green;}
        .custom-lists {
            width: 49%;
            vertical-align: top;
        }

        .custom-myapproach-wrapper:before {
            content: '';
            float: right;
            display: block;
            width: 350px;
            height: 350px;
            margin: 0 0 15px 15px;
        }

        .custom-myapproach-wrapper .embedded-img {
            position: absolute;
            top: 0;
            right: 0;
            width: 350px;
            background-color: black;
        }

        .custom-cards {
            width: 49%;
        }
    }

    /* medium */
    @media (min-width: 992px) {
        body {background-color: blue;}
        .custom-cards {
            width: 32%;
        }

        .custom-inner-card {
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    /* desktop */
    @media (min-width: 1200px) {
        body{background-color: yellow;}
        .custom-lists ul {
            padding-left: 100px;
        }

        @media (min-width: 1500px) {
            .custom-lists ul {
                padding-left: 30%;
                padding-right: 80px;
            }
        }
    }
</style>

<script type="text/javascript">
    $(document).ready(function() {
        $('.parallax').parallax();
    });
</script>