<div class="container">
    <div class="row center">
        <h2 class="custom-title-font">More than a Coach</h2>
    </div>

    <div class="row center">
        <div class="flow-text">
            An <span class="bold">Integrative Nutrition Health Coach</span> is a guide and mentor who empowers you and provides ongoing support and guidance as you set goals and make sustainable changes that improve your health and happiness.
            As <span class="bold">your Health Coach</span> I will listen carefully and we’ll navigate the world of contradictory nutrition and health advice together to explore what truly works for you. 
        </div>
    </div>

    <div class="row">
        <table class="custom-cards-table">
            <tr class="custom-cards-tr-1">
                <td class="">
                    <div class="custom-cards-heading-1 center">Together we will:</div>
                    <div class="custom-card-text-font">
                            <ul class="browser-default">
                                <li>Connect the dots between who you are and who you want to be</li>
                                <li>Create your personal blueprint</li>
                                <li>Decipher your body's unique needs</li>
                                <li>Set your personal goals and work towards sustainable change</li>
                            </ul>
                    </div>
                </td>
                <td class="">
                    <div class="custom-cards-heading-1 center">What you get:</div>
                    <div class="custom-card-text-font">
                        <ul class="browser-default">
                            <li>Two 50-minute sessions per month</li>
                            <li>Email support between sessions</li>
                            <li>Simple healthy recipes</li>
                            <li>Handouts specific to your needs and goals</li>
                        </ul>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="parallax-container">
    <div class="parallax"><img src="images/fruits-1280x724.jpg"></div>
</div>

<div class="container">
    <div class="row center">
        <h3 class="custom-title-font">My Approach</h3>
    </div>

    <div class="row">
        <div class="flow-text">
            <img class="right" src="images/healthy-products-640x640.jpg">
            I practice a holistic approach to health and wellness, which means that I look at how all areas of your life are connected. Does stress at your job or in your relationship cause you to overeat? Does lack of sleep or low energy prevent you from exercising? As we work together, we will look at how all parts of your life affect your health as a whole.
            <br><br>
            My approach is not to dwell on calories, carbs, fats, and proteins. It is not to create lists of restrictions or good and bad foods. Instead, I work with my clients to create a happy, healthy life in a way that is flexible, fun and rewarding.
            <br><br>
            Together we’ll work to reach your health goals in areas such as achieving optimal weight, reducing food cravings, increasing sleep, and maximizing energy. As we work together, you’ll develop a deeper understanding of the food and lifestyle choices that work best for you and implement lasting changes that will improve your energy, balance and health.
        </div>
    </div>

    <div class="row">
        <table class="custom-cards-table">
            <tr class="custom-cards-tr-2">
                <td class="">
                    <div class="custom-cards-heading center">Integrative Nutrition Plate</div>
                    <div class="custom-card-text-font">
                        The Integrative Nutrition Plate emphasizes the importance of local and organic produce, whole grains, high-quality proteins, plant-based fats, and water. It shows you how a plate should appear at mealtime and emphasizes the importance of proportions and portion size. To complete the picture, the plate is surrounded with lifestyle factors that create optimal health: relationship, career, physical activity and spirituality. I’ll introduce you to some of the healthiest foods on the planet and teach you how to find what’s healthiest for your unique body!
                    </div>
                </td>
                <td class="">
                    <div class="custom-cards-heading center">Primary Food</div>
                    <div class="custom-card-text-font">
                        It’s easy to overlook all of the things that contribute to our sense of nourishment and fulfillment. It’s not just the food we eat that affects our health, but all of the other factors present in our daily lives. Healthy relationships, a fulfilling career, regular physical activity, and a spiritual awareness are essential forms of nourishment. When these “primary foods” are balanced, what you eat becomes secondary. I will support you in achieving all of your goals, from eating the right foods for your body to living an inspired, fulfilling life.
                    </div>
                </td>
                <td class="">
                    <div class="custom-cards-heading center">Crowding Out</div>
                    <div class="custom-card-text-font">
                        Many nutrition experts give their clients a list of foods to avoid and foods to eat, which explains why so many people are turned off by nutrition. My approach is different – by eating and drinking foods that are good for you, you will naturally have less room and desire for unhealthy foods. Simply put, you will “crowd out” the unhealthy food in your diet. This takes a little practice to make happen, but I will support you all the way.
                    </div>
                </td>
            </tr>
            <tr class="custom-cards-tr">
                <td class="">
                    <div class="photo photo4"><img src="images/nutrition-diagram-350x300.png"></div>
                </td>
                <td class="">
                    <div class="custom-cards-heading center">Bio-Individuality</div>
                    <div class="custom-card-text-font">
                        The concept of bio-individuality is the idea that each of us has unique food and lifestyle needs. One person’s food is another person’s poison, and that’s why fad diets tend to fail in the long run. Working on the principle of bio-individuality, I’ll support you to make positive changes that are based on your unique needs, lifestyle, preferences, and ancestral background.
                    </div>
                </td>
                <td class="">
                    <div class="custom-cards-heading center">Deconstructing Cravings</div>
                    <div class="custom-card-text-font">
                        Cravings play a critical role in understanding what your body needs and shouldn’t be ignored. When you learn how to deconstruct your cravings and understand what they’re really telling you, you will be able to reclaim a sense of balance and harmony.
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="divider"></div>

    <div class="row center flow-text">
        {{!-- <span class="bold">Are you ready to start feeling better than ever?</span>
        <br>
        <span>Schedule an <a class="orange-text" href="./contact">initial consultation</a> with me today!</span> --}}
        <span>To decide if health coaching is right for you, I invite you to schedule a <a class="orange-text" href="./contact">free initial consultation</a> with me.</span>
        <br>
        <span>During this session, we will discuss your health and lifestyle to determine how I can best support you in achieving your goals.</span>
        <br>
        <br>
        <a class="custom-title-font orange-text" href="./contact"><span class="h3">Let's get started!</span></a>
    </div>
</div>

<style type="text/css">
    .h3 {
        font-size: 2.92rem;
    }

    .bold {
        font-weight: bold;
    }

    .custom-title-font {
        font-family: 'Times New Roman';
        font-variant-caps: small-caps;
    }

    .custom-cards-table {
        width: 100%;
        border-spacing: 20px;
        border-collapse: separate;
    }

    .custom-cards-tr-1 td {
        width: 50%;
        height: inherit;
        padding: 0 10%;
        height: 200px;
    }

    .custom-cards-tr-2 td {
        width: 33%;
        height: auto;
        padding: 0;
        height: 300px;
    }

    .custom-cards-heading-1 {
        font-family: 'Times New Roman';
        font-size: 2em;
        font-variant-caps: small-caps;
        height: 15%;
        text-decoration: underline;
    }

    .custom-cards-heading {
        font-family: 'Times New Roman';
        font-size: 1.5em;
        font-variant-caps: small-caps;
        height: 15%;
        text-decoration: underline;
    }

    .custom-card-text-font {
        height: 85%;
    }

    .divider {
        margin: 50px auto;
    }
</style>

<script type="text/javascript">
    $(document).ready(function() {
        $('.parallax').parallax();
    });
</script>