<div class="container">
    <br>
    <div class="carousel carousel-slider center" data-indicators="true">
        <div class="carousel-item car1">
            <div class="row">
                <div class="col s12 m8 l6">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                          <span class="card-title">Goals</span>
                          <p>When was the last time you received the personal attention you deserve and talked with someone about your health?</p>
                        </div>
                        <div class="card-action"><a href="#">This is a link</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item amber white-text car2">
            <div class="row">
                <div class="col s12 m8 l6 right">
                    <div class="card-panel teal">
                        <span class="white-text">
                            Start today and beat the New Year's Resolution! Together, You and I, will create the best and most delicious dishes that are both healthy and nutritious that will make you feel great about yourself.
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item green car3">
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row">
                <div class="col s12 m6 l6">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                          <span class="card-title">No one Diet fits All</span>
                          <p>Let me guide you to the diet and lifestyle that best suite you. We will make the gradual, lifelong changes so that you may reach goals for now and forever.</p>
                        </div>
                        <div class="card-action"><a href="#">This is a link</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item car4">
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row">
                <div class="col s12 m6 l6 right">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                          <span class="card-title">Card Title</span>
                          <p>I am a very simple card. I am good at containing small bits of information.
                          I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action"><a href="#">This is a link</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>

<!-- Parallax ->
<div class="parallax-container"><div class="parallax"><img src="images/vegetables-1280x875.jpg"></div></div>
<!- Parallax - End -->


<div class="container">
    <div class="divider"></div><br>
    <div class="row">
        <div class="col s12 m6 l4">
            <div class="card medium">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator responsive-img" src="images/bellpepper-640x640.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Latest Recipe!<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-action">
                    <a href="/recipes">All Recipes</a>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Latest Recipe<i class="material-icons right">close</i></span>
                    <h5>4 Bellpeppers</h5>
                    <ul>
                        <li>Tuna</li>
                        <li>Lemon</li>
                        <li>4 Bellpeppers</li>
                        <li>Tuna</li>
                        <li>Lemon</li>
                        <li>4 Bellpeppers</li>
                        <li>Tuna</li>
                        <li>Lemon</li>
                        <li>4 Bellpeppers</li>
                        <li>Tuna</li>
                        <li>Lemon</li>
                        <li>4 Bellpeppers</li>
                        <li>Tuna</li>
                        <li>Lemon</li>
                        <li>4 Bellpeppers</li>
                        <li>Tuna</li>
                        <li>Lemon</li>
                        <li>4 Bellpeppers</li>
                        <li>Tuna</li>
                        <li>Lemon</li>
                        <li>4 Bellpeppers</li>
                        <li>Tuna</li>
                        <li>Lemon</li>
                        <li>4 Bellpeppers</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card medium">
                <div class="card-content">
                    <span class="card-title">Promotions</span>
                    <br>
                    <br>
                    <div class="center">
                        <a href="#subscribe-form"><i class="black-text large material-icons">people</i></a>
                        <h5>Sign up today to receive a free One-on-One 50 minute consultation</h5>
                    </div>
                </div>
                <div class="card-action" style="background-color: white;">  
                    <a href="#subscribe-form">Subscribe Today</a>
                </div>
            </div>
        </div>
        <div class="col s12 m12 l4">
            <div class="card medium">
                <div class="card-content">
                    <span class="card-title">Latest Youtube Video</span>
                    <div class="video-container"><iframe width="560" height="315" src="https://www.youtube.com/embed/lXwqTO3TDag" frameborder="0" allowfullscreen></iframe></div>
                </div>
                <div class="card-action" style="background-color: white;">
                    <a href="https://www.youtube.com/channel/UCeCmn8A8uT42dRw-NKjOBcw" target="_blank">Subscribe to my Channel</a>
                </div>
            </div>
        </div>
    </div>

    <div class="divider"></div><br>
    <p class="flow-text"><span style="font-weight: bold; font-variant: small-caps;">It’s rare</span> for anyone to get an hour to explore their wellness goals with a trained professional. As an Integrative Nutrition Health Coach, I create a supportive environment that enables you to articulate and achieve your goals. Throughout my education, I have been exposed to the most cutting-edge dietary theories and studied highly effective coaching techniques to help you find the right lifestyle that works best for you.</p>
    <br>
    <p class="flow-text"><span style="font-weight: bold; font-variant: small-caps;">Most approaches</span> to healthy eating dwell on calories, carbohydrates, fats, and proteins. Instead of creating lists of restrictions and good and bad foods, I coach my clients to explore basic improvements and implement gradual changes during our work together. As these pieces accumulate, my clients find the changes collectively create a much larger impact than they originally expected. We work on what you want to improve, and within the circumstances of your unique situation.</p>

</div>

<style type="text/css">
    .card {
        padding-left: 20px;
        padding-right: 20px;
    }

    .card-background-image {
        background-size: cover;
        background: url('images/bellpepper-640x640.jpg') no-repeat;
    }

    .video-container {
        padding-top: 30px;
        height: 0;
    }

    .car1 {
        background-image: url('images/kale-640x479.jpg');
        background-size: cover;
    }

    .car2 {
        background-image: url('images/tomato-1280x823.jpg');
        background-size: cover;
    }

    .car3 {
        background-image: url('images/board-640x426.jpg');
        background-size: cover;
    }

    .car4 {
        background-image: url('images/onion-640x480.jpg');
        background-size: cover;
    }

    @media only screen 
    and (min-width: 768px)
    and (max-width: 1024px) 
    and (orientation: portrait) {
        /* For tablets: */
        .video-container {
            padding-bottom: 39%;
        }
    }
</style>

<script type="text/javascript">
    $(document).ready(function() {
        $('.parallax').parallax();
        $('.carousel.carousel-slider').carousel({full_width: true});
    });
</script>