<div class="container">
    <div class="card medium">
        <h5 class="center" style="padding-top: 10px">Being Healthy doesn't have to be hard!</h5>
        <p class="center">
            Sign up for my free cleanse cheat sheet to find out how + to get more updates from me!
        </p>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="first_name" class="validate" name="firstName" type="text" required="" aria-required="true">
                        <label for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="last_name" class="validate" name="lastName" type="text" required="" aria-required="true">
                        <label for="last_name">Last Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" class="validate" type="email" required="" aria-required="true">
                        <label for="email">Email</label>
                    </div>
                </div>
                <button class="btn waves-effect waves-light" type="submit" name="action">
                    Submit<i class="material-icons right">send</i>
                </button>
            </form>
        </div>
    </div>

    <style type="text/css">
        .card {
            padding-left: 20px;
            padding-right: 20px;
        }
    </style>
</div>