<div class="container">
    <div class="row">
        <table class="custom-header-table">
            <tr>
                <td class="leftright"><hr></td>
                <td class="theMiddle"><h2 class="custom-title-font">Recipes</h2></td>
                <td class="leftright"><hr></td>
            </tr>
        </table>        
    </div>
    <div class="row center">
        <span class="flow-text">... because healthy living must be correctly studied, fun to make, and delicious for the plates ... </span>
    </div>

    <div class="custom-cards">
        <table class="custom-cards-table">
            <tr class="custom-cards-tr">
                <td class="green lighten-2 hoverable">
                    <a href="recipes/breakfast">
                        <div class="photo photo1"></div>
                        <div class="custom-cards-heading">Breakfast</div>
                    </a>
                </td>
                <td class="green lighten-2 hoverable">
                    <div class="photo photo2"></div>
                    <div class="custom-cards-heading">Entrees</div>
                </td>
                <td class="green lighten-2 hoverable">
                    <div class="photo photo3"></div>
                    <div class="custom-cards-heading">Desserts</div>
                </td>
            </tr>
            <tr class="custom-cards-tr">
                <td class="green lighten-2 hoverable">
                    <div class="photo photo4"></div>
                    <div class="custom-cards-heading">Drinks</div>
                </td>
                <td class="green lighten-2 hoverable">
                    <div class="photo photo5"></div>
                    <div class="custom-cards-heading">Snacks</div>
                </td>
                <td class="green lighten-2 hoverable">
                    <div class="photo photo6"></div>
                    <div class="custom-cards-heading">Salads</div>
                </td>
            </tr>
        </table>
    </div>
</div>

<style type="text/css">
    body {
        /*background-color: #E8DA58;*/
    }

    .custom-header-table {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    .theMiddle {
        width: 200px;
        text-align: center;
    }

    .custom-title-font {
        font-family: 'Times New Roman';
        font-variant-caps: small-caps;
    }

    .custom-cards {
        margin-bottom: 100px;
    }

    .custom-cards-table,
    .custom-cards-tr,
    .custom-cards-tr td {
        text-align: center;
    }

    .custom-cards-table {
        border-spacing: 10px;
        border-collapse: separate;
    }

    .custom-cards-tr td {
        width: 33%;
        height: auto;
        padding: 0;
    }

    .custom-cards-tr a {
        color: initial;
        text-decoration: none;
    }

    .custom-cards-heading {
        font-family: 'Times New Roman';
        font-size: 1.5em;
        font-weight: bold !important;
        font-variant-caps: small-caps;
    }

    .photo {
        height: 260px;
        margin-top: 40px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .photo1 {
        background-image: url('images/breakfast-1280x923.jpg');
    }

    .photo2 {
        background-image: url('images/bellpepper-640x640.jpg');
    }

    .photo6 {
        background-image: url('images/kale-640x479.jpg');
    }
</style>