html {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    -webkit-box-flex: 1 0;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1;
}

.lmhc-main-title-font {
    font-family: 'Times New Roman', Times, serif;
    font-variant: small-caps;
}

.mask {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: black;
    z-index: 2;
    background-color: black;
    opacity: 0.5;
}

/*
    Consider writing color classes in here 
    and spread them across the files. 
    Easier for me to maintain like this.
*/