body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.lmhc-main-title-font {
    font-family: 'Times New Roman', Times, serif;
    font-variant: small-caps;
}

/*
    Consider writing color classes in here 
    and spread them across the files. 
    Easier for me to maintain like this.
*/