<br>
<div class="container white outer">
    <div class="center lmhc-logo-wrapper">
        <img class="responsive-img" src="images/logo-600x600.jpg">
    </div>
    <br>

    <div class="lmhc-blog-wrapper">
        <div class="single-result lmhc-table">
            <div class="lmhc-row">
                <div class="lmhc-col left">
                    <div class="thumbnail-wrapper">
                        <img src="images/bellpepper-640x640.jpg">
                    </div>
                </div>
                <div class="lmhc-col right">
                    <div>text</div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>

<style type="text/css">
    .lmhc-logo-wrapper {
        height: 250px;
    }
    
    .lmhc-logo-wrapper > img {
        width: 250px;
        min-height: 100%;
    }

    .lmhc-blog-wrapper {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .lmhc-table {
        width: inherit;
        height: 350px;
        display: table;
    }

    .lmhc-table .lmhc-row {
        display: table-row;
        width: inherit;
        height: 100%;
    }

    .lmhc-table .lmhc-row .lmhc-col {
        display: inline-block;
        border: 1px black solid; /*delete this*/
        height: 50%;
    }

    .lmhc-col.left,
    .lmhc-col.right {
        width: 100%;
    }

    .lmhc-col.left {
        margin: 0 auto;
        background-color: black;
    }

    .thumbnail-wrapper {
        width: 100%;
        height: 175px;
        text-align: center;
    }

    .thumbnail-wrapper > img {
        max-width: 100%;
        max-height: 100%;
        image-rendering: optimizeSpeed;
    }

    @media (max-width: 768px) and (orientation: landscape) {
        body {background-color: black;}
        
        .lmhc-table {
            height: 150px;
        }
        
        .lmhc-table .lmhc-row .lmhc-col {
            display: table-cell;
            height: 100%;
        }

        .lmhc-col.left {
            width: 30%;
        }

        .lmhc-col.right {
            width: 70%;
        }

        .thumbnail-wrapper {
            height: 150px;
        }
    }

    /* small */
    @media (min-width: 768px) {
        body {background-color: red;}

        .lmhc-logo-wrapper {
            height: 300px;
        }
    
        .lmhc-logo-wrapper > img {
            width: 300px;
            min-height: 100%;
        }

        .lmhc-table {
            height: 180px;
        }

        .lmhc-table .lmhc-row .lmhc-col {
            display: table-cell;
            height: 100%;
        }

        .lmhc-col.left {
            width: 30%;
        }

        .lmhc-col.right {
            width: 70%;
        }

        .thumbnail-wrapper {
            height: 180px;
        }
    }

    /* medium */
    @media (min-width: 992px) {
        body {background-color: yellow;}
    }

    /* desktop */
    @media (min-width: 1200px) {
        body {background-color: blue;}

        .lmhc-logo-wrapper {
            height: 350px;
        }
    
        .lmhc-logo-wrapper > img {
            width: 350px;
            min-height: 100%;
        }

        .lmhc-table {
            height: 250px;
        }

        .lmhc-col.left {
            width: 25%;
            height: 100%;
        }

        .lmhc-col.right {
            width: 75%;
        }

        .thumbnail-wrapper {
            height: 250px;
        }
    }

    /* helper classes */
</style>

<script type="text/javascript">
    $(document).ready(function(){
        // no js logic quite yet
    });
</script>