<br>
<div class="container white outer">
    <div class="center lmhc-logo-wrapper">
        <img class="responsive-img" src="images/logo-600x600.jpg">
    </div>
    <br>

    <div class="lmhc-blog-wrapper">
        <div class="single-result lmhc-table">
            <div class="lmhc-row">
                <div class="lmhc-col left">
                    <div class="thumbnail-wrapper">
                        <img src="images/bellpepper-640x640.jpg">
                    </div>
                </div>
                <div class="lmhc-col right">
                    <div class="inner-table">
                        <div class="inner-table-row title">
                            <span class="lmhc-main-title-font title-font-size">My Very First Blog!</span>
                        </div>
                        <div class="inner-table-row summary flow-text">
                            I welcome you to my new adventure and I want you to join me!
                            What happens if the text gets longer and longer and longer ...
                            Well there's only one real way of finding out and that's exactly what I am
                            going to check right now. Oops. Still need a tiny bit more. Hah, I was short
                            by just one word. Let's keep on adding words to test the overflow on the big screen.
                            Something tells me it's buggy still, which will essentially just piss me the 
                            fuck off.
                        </div>
                        <div class="inner-table-row readmore">
                            <footer><a class="orange-text">Read more...</a></footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>

<style type="text/css">
    .lmhc-logo-wrapper {
        height: 250px;
    }
    
    .lmhc-logo-wrapper > img {
        width: 250px;
        min-height: 100%;
    }

    .lmhc-blog-wrapper {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .lmhc-table {
        width: inherit;
        height: 350px;
        display: table;
    }

    .lmhc-table .lmhc-row {
        display: table-row;
        width: inherit;
        height: 100%;
    }

    .lmhc-table .lmhc-row .lmhc-col {
        display: inline-block;
        border: 1px black solid; /*delete this*/
        height: 50%;
    }

    .lmhc-col.left,
    .lmhc-col.right {
        width: 100%;
    }

    .lmhc-col.left {
        margin: 0 auto;
        background-color: black;
    }

    .lmhc-col.right {
        padding: 0 5px;
    }

    .thumbnail-wrapper {
        width: 100%;
        height: 175px;
        text-align: center;
    }

    .thumbnail-wrapper > img {
        max-width: 100%;
        max-height: 100%;
        image-rendering: optimizeSpeed;
    }

    .lmhc-col.right .title-font-size {
        display: block;
        text-align: center;
        font-size: 1.5em;
        color: dimgray;
    }

    @media (max-width: 768px) and (orientation: landscape) {
        body {background-color: black;}
        
        .lmhc-table {
            height: 150px;
        }
        
        .lmhc-table .lmhc-row .lmhc-col {
            display: table-cell;
            height: 100%;
        }

        .lmhc-col.left {
            width: 30%;
        }

        .lmhc-col.right {
            width: 70%;
        }

        .thumbnail-wrapper {
            height: 150px;
        }

        .inner-table {
            width: 100%;
            height: 150px;
        }

        .inner-table-row.title,
        .inner-table-row.readmore {
            width: 100%;
            height: 20%;
        }

        .inner-table-row.summary {
            width: 100%;
            height: 60%;
            overflow: hidden;
        }

        .lmhc-col.right .title-font-size {
            font-size: 1.6em;
            display: initial;
        }
    }

    /* small */
    @media (min-width: 768px) {
        body {background-color: red;}

        .lmhc-logo-wrapper {
            height: 300px;
        }
    
        .lmhc-logo-wrapper > img {
            width: 300px;
            min-height: 100%;
        }

        .lmhc-table {
            height: 180px;
        }

        .lmhc-table .lmhc-row .lmhc-col {
            display: table-cell;
            height: 100%;
        }

        .lmhc-col.left {
            width: 30%;
        }

        .lmhc-col.right {
            width: 70%;
        }

        .thumbnail-wrapper {
            height: 180px;
        }

        .inner-table {
            height: 180px;
        }

        .inner-table-row.summary {
            height: 60%;
            overflow: hidden;
        }

        .lmhc-col.right .title-font-size {
            font-size: 2.2em;
            display: initial;
        }
    }

    /* medium */
    @media (min-width: 992px) {
        body {background-color: yellow;}
    }

    /* desktop */
    @media (min-width: 1200px) {
        body {background-color: blue;}

        .lmhc-logo-wrapper {
            height: 350px;
        }
    
        .lmhc-logo-wrapper > img {
            width: 350px;
            min-height: 100%;
        }

        .lmhc-table {
            height: 250px;
            max-height: 250px;
            overflow: hidden;
        }

        .lmhc-col.left {
            width: 25%;
            height: 100%;
        }

        .lmhc-col.right {
            width: 75%;
            max-height: 250px;
            overflow: hidden;
        }

        .thumbnail-wrapper {
            height: 250px;
        }

        .inner-table {
            height: 250px;
        }

        .lmhc-col.right .title-font-size {
            font-size: 2.2em;
            display: initial;
        }
    }

    /* helper classes */
</style>

<script type="text/javascript">
    $(document).ready(function(){
        // no js logic quite yet
    });
</script>