<br />
<div class="container">
    <div class="row center flow-text">
        <span class="custom-font-family">Contact Me</span>
        <br />
    </div>
    <div class="row">
        <div class="col s12 m8">
            <div class="col s12 outerCard">
                <div class="center flow-text">
                    <span class="">
                        Receive a free one-on-one health consulation or 
                        simply write me a comment if you have any questions 
                        about my services! By signing up below I will get 
                        it touch shortly!
                    </span>
                </div>
                <br />
                <br />
                <form id="contactform" class="col s12">
                    <div class="input-field col s12">
                        <input id="contactFirstName" type="text" class="validate" required>
                        <label for="contactFirstName">First Name</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="contactLastName" type="text" class="validate" required>
                        <label for="contactLastName">Last Name</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="contactEmail" type="email" class="validate" required>
                        <label for="contactEmail">Email</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="contactPhoneNumber" type="tel" class="validate" required>
                        <label for="contactPhoneNumber">Phone Number</label>
                    </div>
                    <div class="input-field col s12">
                        <textarea id="contactComment" class="materialize-textarea" required></textarea>
                        <label for="contactComment">Comment</label>
                    </div>
                    <button class="btn waves-effect waves-light" type="submit" name="action">
                        Submit
                        <i class="material-icons right">send</i>
                    </button>
                </form>
            </div>
        </div>
        <div class="col s12 m4">
            <img class="responsive-img" src="images/laura-martinez-4-400x479.jpg">
        </div>
    </div>
</div>

<style type="text/css">
    .custom-font-family {
        font-family: 'Times New Roman', Times, serif;
        font-variant-caps: small-caps;
        font-size: 2.0em;
    }

    .outerCard {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }

    .outerCard form {
        background-color: white;
        padding-bottom: 20px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
</style>

<script>
    $('#contactform').submit(function(e) {
        e.preventDefault();
        var fn = $('#contactFirstName').val();
        var ln = $('#contactLastName').val();
        var fullName = (ln === '' || ln === undefined) ? fn : fn + ' ' + ln;
        var comment = $('#contactComment').val();
        comment = comment.split('\n').join('<br>');
        var emailBody = '<h2>New Comment from ' + fullName + '</h2>'
                        + '<br>' + comment
                        + '<br>'
                        + '<br>Name: ' + fullName
                        + '<br>email: ' + $('#contactEmail').val()
                        + '<br>phone number: ' + $('#contactPhoneNumber').val();
        $.ajax({
            type: 'POST',
            url: '/en/contact/send',
            data: {
                from: 'pabloejacome@gmail.com',
                to: 'pabloejacome@gmail.com',
                subject: 'New Comment from ' + fullName,
                text: 'This did not pop up anywhere in the email.. Oh wait I just found it.',
                html: emailBody
            },
            success: function() {
                console.log('email sent and received.');
            },
            error: function() {
                console.log('guessing the route is still not found or responding');
            }
        });
    });
</script>