<div class="carousel carousel-slider white-text" data-indicators="true">
    <div class="carousel-item carousel-bg-img-1">
        <div class="custom-title-font-family">
            <div class="center-align custom-vertically-align">
                <h2>Laura Martinez</h2><br>
                <h1 class="underline">Health Coach</h1>
            </div>
        </div>
    </div>
    <div class="carousel-item carousel-bg-img-2">
        <div class="custom-vertically-align custom-side-padding">
            <h1 class="custom-title-font-family underline">Start today</h1>
            <span class="flow-text bold">
            And beat the New Year's Resolution. Together, You and I, will create
            the best and most delicious dishes that are both healthy and nutritious
            that will make you feel great about yourself.
            </span>
        </div>
    </div>
    <div class="carousel-item carousel-bg-img-3">
        <div class="custom-vertically-align custom-side-padding">
            <h1 class="custom-title-font-family underline">No one Diet Fits All</h1>
            <span class="flow-text bold">
            Let me guide you to the diet and lifestyle that best suite you. We will 
            make the gradual, lifelong changes so that you may reach goals for now 
            and forever.
            </span>
        </div>
    </div>
    <div class="carousel-item carousel-bg-img-4">
        <div class="custom-vertically-align custom-side-padding">
            <h1 class="custom-title-font-family underline">The Mission</h1>
            <span class="flow-text bold">
            To make San Diegans as healthiest as possible even if it means one by one! I am dedicated to my mission and understand the country faces an epidemic of an overweight population.
            </span>
        </div>
    </div>
</div>

<div class="custom-signup-form-wrapper">    
    <div class="row">
        <form id="subscribe-form">
            <div class="custom-name-wrapper">
                <div class="input-field left custom-mobile-input-field">
                    <input placeholder="First Name" id="firstName" name="firstName" type="text" class="validate">
                </div>
                <div class="input-field left custom-mobile-input-field">
                    <input placeholder="Last Name" id="lastName" name="lastName" type="text" class="validate">
                </div>
            </div>
            <div class="input-field left custom-mobile-email-field">
                <input placeholder="youremail@example.com" id="email" type="email" class="validate">
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">
                Submit<i class="material-icons right">send</i>
            </button>
        </form>
    </div>
    <div class="container center-align">
        <h4>Sign Up for a Free 50-Minute Health Consultation</h4>
    </div>
</div>
<br>

<div class="grey lighten-3" style="padding-top: 10px;"><div class="container">
    <div class="row">
        <div class="col s12 m6 l4 custom-medium-card">
            <div class="card medium">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator fix-card-image" src="images/bellpepper-640x640.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Latest Recipe!<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-action">
                    <a href="/recipes">All Recipes</a>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Latest Recipe<i class="material-icons right">close</i></span>
                    <h5>4 Bellpeppers</h5>
                    <ul>
                        <li>Tuna</li><li>Lemon</li><li>4 Bellpeppers</li><li>Tuna</li><li>Lemon</li><li>4 Bellpeppers</li><li>Tuna</li><li>Lemon</li><li>4 Bellpeppers</li><li>Tuna</li><li>Lemon</li><li>4 Bellpeppers</li><li>Tuna</li><li>Lemon</li><li>4 Bellpeppers</li><li>Tuna</li><li>Lemon</li><li>4 Bellpeppers</li><li>Tuna</li><li>Lemon</li><li>4 Bellpeppers</li><li>Tuna</li><li>Lemon</li><li>4 Bellpeppers</li>
                    </ul>
                    <a href="#" class="waves-effect waves-teal btn">View Recipe</a>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4 custom-medium-card">
            <div class="card medium">
                <div class="card-content">
                    <span class="card-title">Promotions</span>
                    <br>
                    <br>
                    <div class="center">
                        <a href="#subscribe-form"><i class="black-text medium material-icons">people</i></a>
                        <h4>Free</h4>
                        <p class="flow-text">One-on-One 50 minute consultation if you sign up today!</p>
                    </div>
                </div>
                <div class="card-action" style="background-color: white;">  
                    <a href="#subscribe-form">Subscribe Today</a>
                </div>
            </div>
        </div>
        <div class="col s12 m12 l4 custom-large-card">
            <div class="card medium">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator fix-card-image" src="images/date-example-400x400.png">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Next Event<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-action">
                    <a href="/events">Check the event Calendar</a>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Next Event<i class="material-icons right">close</i></span>
                    <h5>Nutrition Exposition - San Diego</h5>
                    <p class="flow-text">Come out and learn everything there is to know about nutrition 101! Make that first step towards a healthy lifestyle! I will also be there giving a speech promoting my new product - Coco-Banana Smoothie!</p>
                </div>
            </div>
        </div>
    </div>
</div></div>

<br>

<div class="container"><div class="video-container"><iframe width="560" height="315" src="https://www.youtube.com/embed/lXwqTO3TDag" frameborder="0" allowfullscreen></iframe></div></div>

<br>

<div class="grey lighten-3" style="padding-top: 10px; padding-bottom: 10px;"><div class="container">
    <p class="flow-text"><span class="bold" style="font-variant: small-caps;">It’s rare</span> for anyone to get an hour to explore their wellness goals with a trained professional. As an Integrative Nutrition Health Coach, I create a supportive environment that enables you to articulate and achieve your goals. Throughout my education, I have been exposed to the most cutting-edge dietary theories and studied highly effective coaching techniques to help you find the right lifestyle that works best for you.</p>
    <br>
    <p class="flow-text"><span class="bold" style="font-variant: small-caps;">Most approaches</span> to healthy eating dwell on calories, carbohydrates, fats, and proteins. Instead of creating lists of restrictions and good and bad foods, I coach my clients to explore basic improvements and implement gradual changes during our work together. As these pieces accumulate, my clients find the changes collectively create a much larger impact than they originally expected. We work on what you want to improve, and within the circumstances of your unique situation.</p>
</div></div>

<style type="text/css">
    .fix-card-image {
        margin: 0 auto;
        padding-top: 10px;
        width: auto !important; height: 250px !important;
    }

    .bold {
        font-weight: bold !important;
    }

    .underline {
        text-decoration: underline;
    }

    .custom-title-font-family {
        font-family: 'Times New Roman';
        font-variant: small-caps;
    }

    .custom-vertically-align {
        margin-top: 30%;
    }

    .custom-signup-form-wrapper {
        width: 100%;
    }

    .custom-signup-form-wrapper .input-field {
        width: 20%;
        margin-right: 10px;
    }

    .custom-signup-form-wrapper button {
        margin-top: 24px;
    }

    .custom-signup-form-wrapper form {
        margin-left: 22.5%;
    }

    .card {
        padding-left: 20px;
        padding-right: 20px;
    }

    .carousel-bg-img-1 {
        background-image: url('images/laura-martinez-opaque-640x640.jpg');
        background-size: cover;
        background-color: black;
    }

    .carousel-bg-img-2 {
        background-image: url('images/tomato-1280x823.jpg');
        background-size: cover;
    }

    .carousel-bg-img-3 {
        background-image: url('images/potatoes-blur-dark-1280x853.jpg');
        background-size: cover;
    }

    .carousel-bg-img-4 {
        background-image: url('images/vegetables-1280x875.jpg');
        background-size: cover;
    }

    /* mobile */
    @media (max-width: 800px) {
        .fix-card-image {
            margin: 0 auto;
            padding-top: 10px;
            width: auto !important; height: 250px !important;
        }

        .carousel {
            height: 400px !important;
        }

        .custom-side-padding {
            padding-left: 10px;
            padding-right: 10px;
        }

        .custom-vertically-align {
            margin-top: 25%;
        }

        .carousel {
            background-color: black;
            width: inherit; height: inherit;
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
        }

        .custom-signup-form-wrapper .input-field {
            width: 100%;
            margin-right: 0px;
        }

        .custom-signup-form-wrapper button {
            margin-top: 0px;
            margin-left: 29%;
        }

        .custom-signup-form-wrapper form {
            margin: 0 10px;
        }
    }

    /* mobile (s6) - orientation: landscape */
    @media (max-width: 800px) 
    and (orientation: landscape) {
        .carousel {
            height: 200px !important;
        }

        .carousel-bg-img-1 {
            background-image: url('images/laura-martinez-opaque-640x640.jpg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        .custom-vertically-align {
            margin-top: -4%;
        }

        .custom-name-wrapper {
            width: 100%;
            margin-left: 7px;
        }

        .custom-mobile-input-field {    
            width: 48% !important;
            margin-right: 10px !important;
        }

        .custom-signup-form-wrapper button {
            margin-top: 0px;
            margin-left: 38%;
        }
    }

    /* tablet (ipad mini 1) - orientation: portrait */
    @media (min-device-width: 768px)
    and (max-device-width: 1000px) { 
        .carousel {
            height: 700px !important;
        }

        .custom-vertically-align {
            margin-top: 45%;
        }

        .custom-signup-form-wrapper .input-field {
            width: 25%;
            margin-right: 10px;
        }

        .custom-signup-form-wrapper button {
            margin-top: 0px;
            display: inline;
            left: -10px;
        }

        .custom-signup-form-wrapper form {
            margin-left: 18.5%;
        }
    }

    /* tablet (ipad mini 1) - orientation landscape*/
    @media only screen
    and (min-device-width: 768px) 
    and (max-device-width: 1100px)
    and (orientation: landscape) {
        .carousel {
            height: 500px !important;
        }

        .custom-side-padding {
            padding-left: 30px;
            padding-right: 30px;
        }

        .custom-vertically-align {
            margin-top: 12%;
        }

        .custom-medium-card {
            width: 50% !important;
        }

        .custom-large-card {
            width: 100% !important;
        }

        .custom-signup-form-wrapper .input-field {
            /*width: 20%;*/
            margin-right: 15px;
        }

        .custom-signup-form-wrapper button {
            margin-top: 24px;
        }

        .custom-signup-form-wrapper form {
            margin-left: 6%;
        }

        .carousel-bg-img-1 {
            background-image: url('images/laura-martinez-opaque-640x640.jpg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    /* tablet (galaxy tab 4) - orientation: portrait */
    @media (min-width: 800px) 
    and (max-width: 900px) {
        .carousel {
            height: 800px !important;
        }

        .custom-side-padding {
            padding-left: 70px;
            padding-right: 70px;
        }

        .custom-vertically-align {
            margin-top: 42%;
        }

        .carousel-bg-img-1 {
            background-image: url('images/laura-martinez-opaque-640x640.jpg');
            background-size: cover;
        }
    }

    /* tablet (galaxy tab 4) - orientation: landscape */
    @media (min-width: 1100px) 
    and (max-width: 1399px)
    and (orientation: landscape) {
        .carousel {
            height: 500px !important;
        }

        .custom-vertically-align {
            margin-top: 9%;
        }

        .custom-side-padding {
            padding-left: 70px;
            padding-right: 70px;
        }

        .carousel-bg-img-1 {
            background-image: url('images/laura-martinez-opaque-640x640.jpg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    /* desktop */
    @media (min-width: 1400px) {
        .carousel {
            height: 91vh !important;
        }

        .custom-side-padding {
            padding-left: 70px;
            padding-right: 70px;
        }

        .custom-vertically-align {
            margin-top: 20%;
        }

        .carousel-bg-img-1 {
            background-image: url('images/laura-martinez-opaque-640x640.jpg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
</style>

<script type="text/javascript">
    $(document).ready(function() {
        $('.carousel.carousel-slider').carousel({full_width: true});
    });
</script>