<div class="container valign-wrapper">
    <h3 class="valign">Oops! You may have stepped into the wrong part of the site!</h3>
</div>

<style>
    h3 {
        font-family: 'Times New Roman';
        font-variant-caps: small-caps;
    }
</style>