<br>
<div class="container z-depth-5">
    <nav class="teal">
        <div class="nav-wrapper" style="padding-left:10px;">
            <div class="col s12">
                <a href="./p1" class="breadcrumb">Personal</a>
                <a href="./p2" class="breadcrumb">Social</a>
                <a href="./p3" class="breadcrumb">Salud</a>
                <a href="./p4" class="breadcrumb">Women's Health</a>
                <a href="./p5" class="breadcrumb">M&eacute;dica</a>
                <a href="" class="breadcrumb">Alimentos</a>
            </div>
        </div>
    </nav>

    <form id="printableForm">
        <div class="sections section-6">
            <span class="inner-title allcaps bold"><h5>Informaci&oacute;n de Alimentos</h5></span>
            <div class="inner-content">
                <div class="row">
                    &iquest;Qu&eacute; alimentos com&iacute;a con frecuencia de ni&ntilde;a?<br><br>
                    <div class="col l2">
                        <span class="underline">Desayuno:</span>
                        <input type="text">
                        <input type="text">
                        <input type="text">
                    </div>
                    <div class="col l2">
                        <span class="underline">Almuerzo:</span>
                        <input type="text">
                        <input type="text">
                        <input type="text">
                    </div>
                    <div class="col l2">
                        <span class="underline">Cena:</span>
                        <input type="text">
                        <input type="text">
                        <input type="text">
                    </div>
                    <div class="col l2">
                        <span class="underline">Meriendas:</span>
                        <input type="text">
                        <input type="text">
                        <input type="text">
                    </div>
                    <div class="col l2">
                        <span class="underline">L&iacute;quidos:</span>
                        <input type="text">
                        <input type="text">
                        <input type="text">
                    </div>
                </div>

                <div class="row">
                    &iquest;Qu&eacute; tipo de alimentos come d&iacute;a?<br><br>
                    <div class="col l2">
                        <span class="underline">Desayuno:</span>
                        <input type="text">
                        <input type="text">
                        <input type="text">
                    </div>
                    <div class="col l2">
                        <span class="underline">Almuerzo:</span>
                        <input type="text">
                        <input type="text">
                        <input type="text">
                    </div>
                    <div class="col l2">
                        <span class="underline">Cena:</span>
                        <input type="text">
                        <input type="text">
                        <input type="text">
                    </div>
                    <div class="col l2">
                        <span class="underline">Meriendas:</span>
                        <input type="text">
                        <input type="text">
                        <input type="text">
                    </div>
                    <div class="col l2">
                        <span class="underline">L&iacute;quidos:</span>
                        <input type="text">
                        <input type="text">
                        <input type="text">
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        &iquest;Su familia y/o amistades la apoyar&iacute;an en su deseo de hacer cambios en su manera de comer y/o estilo de vida?
                        <textarea class="materialize-textarea" rows="3" form="printableForm"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col l2">
                        <div class="input-field">
                            &iquest;Usted cocina?
                            <select>
                                <option disabled selected></option>
                                <option value="0">No</option>
                                <option value="1">Si</option>
                            </select>
                        </div>
                    </div>

                    <div class="col l10">
                        <div class="input-field">
                            &iquest;Qu&eacute; porcentaje de su comida est&aacute; hecha en casa?
                            <input id="" class="" name="" type="text">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col l12">
                        <div class="input-field">
                            &iquest;D&oacute;nde consigue el resto?
                            <input id="" class="" name="" type="text">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col l12">
                        <div class="input-field">
                            &iquest;Le dan antojos de az&uacute;car, cafe, cigarros o tiene alguna adicci&oacute;n fuerte?
                            <input id="" class="" name="" type="text">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col l12">
                        <div class="input-field">
                            Lo m&aacute;s importante que deber&iacute;a hacer para mejorar mi salud es:
                            <input id="" class="" name="" type="text">
                        </div>
                    </div>
                </div>
            </div>
        </div>  <!-- section-6 End -->
    </form>
</div>

<div class="container">
    <div class="row">
        <button id="nextSectionButton" class="btn waves-effect waves-light right" type="submit" name="action"><i class="material-icons right">arrow_forward</i>Siguente</button>
        <button id="printButton" class="btn waves-effect waves-light right" type="submit" name="action">Impremir<i class="material-icons right">print</i></button>
        <button id="saveButton" class="btn waves-effect waves-light right" type="submit" name="action">Submit<i class="material-icons right">save</i></button>
        <button id="prevSectionButton" class="btn waves-effect waves-light right" type="submit" name="action"><i class="material-icons left">arrow_back</i>Atras</button>
    </div>
</div>
<style type="text/css">
    .container {
        padding-top: 40px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .inner-title {
        color: red;
    }

    .container > .row > .btn {
        margin-right: 10px;
    }

    .inner {
        padding-left: 40px;
        padding-right: 40px;
    }

    @media print {
        body * {
            visibility: hidden;
        }

        #printableForm,
        #printableForm * {
            visibility: visible;
        }

        #printableForm {
            position: absolute;
            left: 0;
            top: 0;
        }
    }
</style>

<script type="text/javascript">
    document.getElementById('printButton').onclick = function() {
        window.print();
    }

    $('#prevSectionButton').click(function() {
        window.location = '/forms/p5';
    });

    $('#nextSectionButton').click(function() {
        window.location = '/forms/p7';
    });

    $(document).ready(function() {
        $('select').material_select();
    });
</script>