<h2 class="lmhc-main-title-font center">Breakfast</h2>

<div class="recipe-results-wrapper">
    <div class="row recipe-single-result">
        <div class="col l2"><div class="photo1"></div></div>
        <div class="col s1"><div class="vertical-divider center black"></div></div>
        <div class="col l9 flow-text">
            <h4>Acai Bowl</h4>
            <p>No Description</p>
            <a id="58808fcc46b8db3a30759e9c" class="orange-text">Read more...</a>
        </div>
    </div>

    <div class="divider"></div><br />

    <div class="row recipe-single-result">
        <div class="col l2"><div class="photo2"></div></div>
        <div class="col l1"><div class="vertical-divider center black"></div></div>
        <div class="col l9 flow-text">
            <h4>Avocado Toast</h4>
            <p>No Description</p>
            <a id="456" class="orange-text">Read more...</a>
        </div>
    </div>
</div>

<style>
    .recipe-results-wrapper {
        /*padding: 20px;*/
    }

    .recipe-single-result {
        height: 200px;
        /*background-color: lightpink;*/
        border-right: 1px black solid;
    }

    .col {
        height: 100%;
    }

    .vertical-divider {
        height: 100%;
        width: 1px;
        margin: 0 auto;
    }

    .photo1 {
        height: 100%;
        width: 100%;
        background-image: url('/images/acai-bowl-0x0.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .photo2 {
        height: 100%;
        width: 100%;
        background-image: url('/images/avocado-toast-0x0.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
</style>

<script>
    $('a.orange-text').click(function(e) {
        console.log('id:', e.target.id);
        window.location.href = 'breakfast/58808fcc46b8db3a30759e9c';
    });
</script>