<!-- carousel/gallery goes here -->

<!-- description goes here -->

<div class="container">
    <!-- ingredients go here -->
    <table>
        <thead>
            <tr>
                <th>Quantity</th>
                <th>Item</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2</td>
                <td>acai packets</td>
            </tr>
            <tr>
                <td>1</td>
                <td>banana</td>
            </tr>
            <tr>
                <td>1/2 cup</td>
                <td>almond milk</td>
            </tr>
            <tr>
                <td>1/2 cup</td>
                <td>coconut water</td>
            </tr>
            <tr>
                <td>1</td>
                <td>tablespoon hempseeds</td>
            </tr>
        </tbody>
    </table>
    <!-- steps go here -->

    <p>All the ingredients in the blender for 15 seconds</p>
    <p>Optional: additional toppings are Organic granola, 1 spoon of chia, 1 spoon of coconut flakes, goji berries</p>
</div>