<div class="container">
    <h4 class="center">Dashboard</h4>
    <div class="tiles tile-1">
        <h5 class="center tile-title">Blog</h5>
        <div class="container center">
            <a class="waves-effect waves-teal btn-flat" href="./blog/add">Add</a>
            <a class="waves-effect waves-teal btn-flat" href="../blog">View</a>
            <a class="waves-effect waves-teal btn-flat" href="./blog/edit">Edit</a>
        </div>
    </div>

    <div class="tiles tile-2">
        <h5 class="center tile-title">Events</h5>
        <div class="container center">
            <a class="waves-effect waves-teal btn-flat">Add</a>
            <a class="waves-effect waves-teal btn-flat">View</a>
            <a class="waves-effect waves-teal btn-flat">Edit</a>
        </div>
    </div>
    
    <div class="tiles tile-3">
        <h5 class="center tile-title">Forms</h5>
        <div class="container center">
            <a class="waves-effect waves-teal btn-flat">Add</a>
            <a class="waves-effect waves-teal btn-flat">View</a>
            <a class="waves-effect waves-teal btn-flat">Edit</a>
        </div>
    </div>
    
    <div class="tiles tile-4">
        <h5 class="center tile-title">Recipes</h5>
        <div class="container center">
            <a class="waves-effect waves-teal btn-flat" href="recipes/add">Add</a>
            <a class="waves-effect waves-teal btn-flat">View</a>
            <a class="waves-effect waves-teal btn-flat">Edit</a>
        </div>
    </div>
</div>

<style>
    .tiles {
        width: 100%;
        height: 300px;
        display: inline-block;
        vertical-align: top;
        margin-bottom: 8px;
        /*  light-blue accent-4 */
        background-color: #40c4ff ;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .tile-title {
        /* blue-grey darken-4 */
        background-color: #263238;
        /* light-blue accent-4 */
        color: #40c4ff;
        margin: 0;
        padding: 10px;
    }

    .tiles .container {
        margin-top: 40px;
    }

    .tiles .container .btn-flat {
        margin: 0 auto;
        margin-top: 5px;
        display: block;
        /* blue-grey darken-4 */
        background-color: #263238;
        color: white;
        width: 150px;
    }

    /* small */
    @media (min-width: 768px) {
    }

    /* medium */
    @media (min-width: 992px) {
    }

    /* desktop */
    @media (min-width: 1200px) {
        .tiles {
            width: 48%;
        }

        .tile-1, .tile-3 {
            margin-right: 2px;
        }

        .tile-1, .tile-2 {
            margin-bottom: 2px;
        }

        .tile-3, .tile-4 {
            margin-top: 2px;
        }
    }
</style>