<div class="container">
    <div class="outer-card z-depth-2 blue lighten-100">
        <h5 class="white-text center">Login</h5>
        <form class="white">
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" name="email" type="email" class="validate">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" name="password" type="password" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>
            <p>
                <input type="checkbox" name="remember" class="filled-in" id="remember">
                <label for="remember">Remember me</label>
            </p>
            <button class="btn waves-effect waves-light login" type="submit" name="action">
                Submit
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
</div>

<style>
    .outer-card {
        width: 95%;
        padding: 20px;
        margin: 0 auto;
    }

    .outer-card form {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 40px;
    }

    /* small */
    @media (min-width: 768px) {
    }

    /* medium */
    @media (min-width: 992px) {
    }

    /* desktop */
    @media (min-width: 1200px) {
        .outer-card {
            width: 400px;
        }
    }
</style>

<script>
    $('.login.btn').click(function(e) {
        e.preventDefault();
        
        var cred = {
            email: $('#email').val(),
            password: $('#password').val(),
            remember: $('#remember').prop('checked')
        }

        if(!cred.email)
            $('#email').focus();
        else if(!cred.password)
            $('#password').focus();

        $.ajax({
            method: 'POST',
            data: cred,
            url: '/login'
        }).done(function() {
            console.log('success, redirecting');
            window.location = './dashboard';
        });
    });
</script>