<br>
<div class="container">
    <div class="title-and-help-wrapper">
        <h3>Blogs</h3>
        <a class="btn-floating btn-small waves-effect waves-light green" href="/en/admin/blog/add"><i class="material-icons">add</i></a>
        <a id="delete-blogs" class="btn-floating btn-small waves-effect waves-light red disabled"><i class="material-icons">delete</i></a>
        <a id="display-help" class="btn-floating btn-small waves-effect waves-light blue"><i class="material-icons">help_outline</i></a>
    </div>
    <table class="bordered highlight responsive-table">
        <thead>
            <tr>
                <th></th>
                <th>#</th>
                <th>Title</th>
                <th>Date Created</th>
                <th>Last Updated</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="checkbox" id="delete-blog-1" class="potential-delete" /><label for="delete-blog-1"></label></td>
                <td>1</td>
                <td>Banana Smoothie</td>
                <td>11/22/2016</td>
                <td>11/22/2016</td>
            </tr>
            <tr>
                <td><input type="checkbox" id="delete-blog-2" class="potential-delete" /><label for="delete-blog-2"></label></td>
                <td>2</td>
                <td>Nut Salad</td>
                <td>12/02/2016</td>
                <td>12/03/2016</td>
            </tr>
            <tr>
                <td><input type="checkbox" id="delete-blog-3" class="potential-delete" /><label for="delete-blog-3"></label></td>
                <td>3</td>
                <td>Soy Meat Tacos</td>
                <td>12/15/2016</td>
                <td>12/15/2016</td>
            </tr>
        </tbody>
    </table>
</div>

<style>
    .title-and-help-wrapper > * {
        display: inline-block;
    }

    .title-and-help-wrapper > a {
        margin-left: 20px;
        margin-bottom: 16.352px;
    }

    tbody > tr > td:first-child {
        width: 30px;
    }
</style>

<script>
    $(document).ready(function() {
        $('#display-help').click(function() {
            // display modal to help laura with navigating admin buttons/table
        });

        $('#delete-blogs').click(function() {
            console.log('HI');
            // display modal to delete these mutha fuckas
        });

        $('.potential-delete').click(function() {
            $('#delete-blogs').toggleClass('disabled', $('tbody > tr > td > input[type=checkbox]:checked').length <= 0);
        });
    });
</script>