<!-- Dropdown Structure -->
<ul id="SiteNav" class="dropdown-content">
    <li><a class="black-text" href="/en/home">Home</a></li>
    <li><a class="black-text" href="/en/about">About</a></li>
    <li><a class="black-text" href="/en/recipes">Recipes</a></li>
    <li><a class="black-text" href="/en/healthcoaching">Health Coaching</a></li>
    <li><a class="black-text" href="/en/forms">Forms</a></li>
    <li><a class="black-text" href="/en/events">Events</a></li>
    <li><a class="black-text" href="/en/blog">Blog</a></li>
    <li><a class="black-text" href="/en/contact">Contact</a></li>
</ul>
<ul id="AdminNav" class="dropdown-content">
    <li><a class="black-text" href="/en/admin/blog">Blog</a></li>
    <li><a class="black-text" href="/en/admin/events">Events</a></li>
    <li><a class="black-text" href="/en/admin/forms">Forms</a></li>
    <li><a class="black-text" href="/en/admin/recipes">Recipes</a></li>
</ul>
<ul id="LanguageSelection" class="dropdown-content black-text">
    <li><a class="selectedEnglish black-text" href=""><span class="flags-icon"><img src="/images/flags-usa-sm.png"></span>English</a></li>
    <li><a class="selectedSpanish black-text" href="/es/casa"><span class="flags-icon"><img src="/images/flags-mexico-sm.png"></span>Espa&ntilde;ol</a></li>
</ul>
<!-- Dropdown Structure - End -->
<nav>
    <div class="nav-wrapper white lighten-1">
        <a href="/en/home" class="brand-logo black-text name-title-font">Laura Martinez</a>
        <a href="" data-activates="mobile-demo" class="main-nav-hamburger-button button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a class="black-text" href="/en/admin/dashboard">Dashboard</a></li>
            <li>
                <a class="dropdown-button" href="#" data-activates="AdminNav">
                    Admin<i class="material-icons right">arrow_drop_down</i>
                    <!-- [if lte IE 11]><i class="material-icons">&#xE5C5;</i><![endif]-->
                </a>
            </li>
            <li>
                <a class="dropdown-button" href="#" data-activates="SiteNav">
                    Site<i class="material-icons right">arrow_drop_down</i>
                    <!-- [if lte IE 11]><i class="material-icons">&#xE5C5;</i><![endif]-->
                </a>
            </li>
            <!-- Language Selection - Desktop -->
            <li>
                <a class="dropdown-button" data-activates="LanguageSelection">
                    English<i class="material-icons right">language</i>
                    <!-- [if lte IE 11]><i class="material-icons">&#xE894;</i><![endif]-->
                </a>
            </li>
            <!-- Language Selection - Desktop - End -->
            <li class="logout-btn"><a href="">Logout</a></li>
            <li><a href=""></a></li>
        </ul>

        <!-- Side Nav Structure -->
        <ul id="mobile-demo" class="side-nav white lighten-1">
            <li class="center custom-hr">
                <h5 class="black-text name-title-side-nav">Laura Martinez<br>
                    <span class="black-text name-title-side-nav">Health Coach</span>
                </h5>
            </li>
            <li><a class="black-text" href="/en/admin/dashboard">Dashboard</a></li>
            <!-- Admin Site Map -->
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header">Admin<i class="material-icons right">arrow_drop_down</i></a>
                        <div class="collapsible-body thin">
                            <ul class="grey lighten-2">
                                <li><a class="black-text" href="/en/admin/blog">Blog</a></li>
                                <li><a class="black-text" href="/en/admin/events">Events</a></li>
                                <li><a class="black-text" href="/en/admin/forms">Forms</a></li>
                                <li><a class="black-text" href="/en/admin/recipes">Recipes</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <!-- Site Map -->
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header">Site<i class="material-icons right">arrow_drop_down</i></a>
                        <div class="collapsible-body thin">
                            <ul class="grey lighten-2">
                                <li><a class="black-text" href="/en/home">Home</a></li>
                                <li><a class="black-text" href="/en/about">About</a></li>
                                <li><a class="black-text" href="/en/recipes">Recipes</a></li>
                                <li><a class="black-text" href="/en/healthcoaching">Health Coaching</a></li>
                                <li><a class="black-text" href="/en/forms">Forms</a></li>
                                <li><a class="black-text" href="/en/events">Events</a></li>
                                <li><a class="black-text" href="/en/blog">Blog</a></li>
                                <li><a class="black-text" href="/en/contact">Contact</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <!-- Language Selection -->
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header">English<i class="material-icons right">language</i></a>
                        <div class="collapsible-body thin">
                            <ul class="grey lighten-2">
                                <li><a class="selectedEnglish" href="/"><span class="flags-icon"><img src="/images/flags-usa-sm.png"></span>English</a></li>
                                <li><a class="selectedSpanish" href="https://www.google.com"><span class="flags-icon"><img src="/images/flags-mexico-sm.png"></span>Espa&ntilde;ol</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <!-- Language Selection - End -->
            <li class="divider"></li>
            <li class="logout-btn"><a href="">Logout</a></li>
        </ul>
        <!-- Side Nav Structure - End -->
    </div>
</nav>

<style type="text/css">
    .flags-icon img {
        max-height: 15px;
        width: auto;
        vertical-align: middle;
        margin-right: 10px;
    }

    .name-title-font {
        font-family: 'Times New Roman';
        font-variant: small-caps; 
        padding-left: 15px !important;
        font-weight: bold !important;
    }

    .name-title-side-nav {
        font-family: 'Times New Roman';
        font-variant: small-caps;
    }

    .name-title-side-nav > span {
        font-size: 1.2rem;
    }

    .custom-hr {
        border-bottom: 1px #e0e0e0 solid;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    nav ul li a,
    nav div a {
        color: black;
    }
</style>

<script type="text/javascript">
    $(document).ready(function() {
        $('.dropdown-button').dropdown({
            belowOrigin: true,
            alignment: 'right'
        });
        
        $('.main-nav-hamburger-button').sideNav({menuWidth: 200});

        $('.logout-btn').click(function(e) {
            $.ajax({
                method: 'POST',
                data: null,
                url: '/logout'
            }).done(function() {
                console.log('Logging out.');
                window.location = '/en/admin/login';
            });
        });
    });
</script>