<ul class="tabs z-depth-3 tabs-fixed-width red lighten-2" style="">
    <li class="tab"><a class="white-text" target="_self" href="./page1">Personal</a></li>
    <li class="tab"><a class="white-text" target="_self" href="./page2">Social</a></li>
    <li class="tab"><a class="white-text" target="_self" href="./page3">Health</a></li>
    <li class="tab"><a class="white-text" target="_self" href="./page4">Women's Health</a></li>
    <li class="tab"><a class="white-text" target="_self" href="./page5">Medical</a></li>
    <li class="tab"><a class="white-text" target="_self" href="./page6">Diet</a></li>
    <li class="tab"><a class="white-text" target="_self" href="./page7">End</a></li>
    <div class="indicator" style="right: 875px; left: 96px;"></div>
</ul>

<style>
    .tabs.z-depth-3::-webkit-scrollbar { display: none; }
</style>