<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a class="black-text" href="/en/healthcoaching">Health Coaching</a></li>
  <li><a class="black-text" href="/en/forms">Forms</a></li>
</ul>

<ul id="dropdown2" class="dropdown-content black-text">
  <li><a class="selectedEnglish black-text" href=""><span class="flags-icon"><img src="/images/flags-usa-sm.png"></span>English</a></li>
  <li><a class="selectedSpanish black-text" href="/es/casa"><span class="flags-icon"><img src="/images/flags-mexico-sm.png"></span>Espa&ntilde;ol</a></li>
</ul>
<!-- Dropdown Structure - End -->

<nav>
    <div class="nav-wrapper white lighten-1">
        <a href="/en/home" class="brand-logo black-text" 
        style=" font-family: 'Times New Roman';
                font-variant: small-caps; 
                padding-left: 15px;
                font-weight: bold !important;">
        Laura Martinez</a>
        <a href="" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/en/about">About</a></li>
            <li><a href="/en/recipes">Recipes</a></li>
            <li><a class="dropdown-button" href="#" data-activates="dropdown1">Work With Me<i class="material-icons right">arrow_drop_down</i>
            <!-- [if lte IE 11]><i class="material-icons">&#xE5C5;</i><![endif]-->
            </a></li>
            <li><a href="/en/events">Events</a></li>
            <li><a href="/en/blog">Blog</a></li>
            <li><a href="/en/contact">Contact</a></li>
            <!-- Language Selection - Desktop -->
            <li><a class="dropdown-button" data-activates="dropdown2">English<i class="material-icons right">language</i>
            <!-- [if lte IE 11]><i class="material-icons">&#xE894;</i><![endif]-->
            </a></li>
            <!-- Language Selection - Desktop - End -->
            <li><a href=""></a></li>
        </ul>

        <!-- Side Nav Structure -->
        <ul id="mobile-demo" class="side-nav white lighten-1">
            <li class="center" style="border-bottom: 1px #e0e0e0 solid; padding-top: 10px; padding-bottom: 10px;">
                <h5 class="black-text" style="font-family: 'Times New Roman'; font-variant: small-caps;">Laura Martinez<br>
                    <h6 class="black-text" style="font-family: 'Times New Roman'; font-variant: small-caps;">Health Coach</h6>
                </h5>
            </li>
            <li><a href="/en/about">About</a></li>
            <li><a href="/en/recipes">Recipes</a></li>
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header">Work With Me<i class="material-icons right">arrow_drop_down</i></a>
                        <div class="collapsible-body thin">
                            <ul class="grey lighten-2">
                                <li><a href="/en/healthcoaching">Health Coaching</a></li>
                                <li><a href="/en/forms">Forms</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <li><a href="/en/events">Events</a></li>
            <li><a href="/en/blog">Blog</a></li>
            <li><a href="/en/contact">Contact</a></li>
            <!-- Language Selection -->
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header">English<i class="material-icons right">language</i></a>
                        <div class="collapsible-body thin">
                            <ul class="grey lighten-2">
                                <li><a class="selectedEnglish" href="/"><span class="flags-icon"><img src="/images/flags-usa-sm.png"></span>English</a></li>
                                <li><a class="selectedSpanish" href="https://www.google.com"><span class="flags-icon"><img src="/images/flags-mexico-sm.png"></span>Espa&ntilde;ol</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <!-- Language Selection - End -->
            <li class="divider"></li>
        </ul>
        <!-- Side Nav Structure - End -->
    </div>
</nav>


<script type="text/javascript">
$(document).ready(function() {
    $('.dropdown-button').dropdown({
        belowOrigin: true,
        alignment: 'right'
    });
    $('.button-collapse').sideNav();
});
</script>

<style type="text/css">
    .flags-icon img {
        max-height: 15px;
        max-width: auto;
        vertical-align: middle;
        margin-right: 10px;
    }

    nav ul li a,
    nav div a {
        color: black;
    }
</style>