<br>
<div class="container white outer z-depth-5">
    <div class="center lmhc-logo-wrapper">
        <img class="responsive-img" src="images/logo-600x600.jpg">
    </div>

    <!-- subscribe section -->
    <br class="hide-on-small-only">
    <div class="hide-on-small-only subscribe-wrapper lg">
        <form class="subscribe-form lg z-depth-5">
            <div class="text center">Subscribe to my email list to get updates on recipes, blogs, events and more!</div>
            <div class="row" style="text-align: center;">
                <div class="input-field" style="width: 150px; margin: 15px 10px 0 20px;">
                    <input id="firstName" class="validate" type="text" required>
                    <label for="firstName" class="black-text" style="text-align: initial;">First Name</label>
                </div>
                <div class="input-field" style="width: 150px; margin: 15px 20px 0 10px;">
                    <input id="email" class="validate" type="email" required>
                    <label for="email" class="black-text" style="text-align: initial;">Email</label>
                </div>
                <div class="input-field">
                    <a id="blog-subscribe-btn-lg" class="waves-effect waves-light btn btn-flat white">Subscribe</a>
                </div>
            </div>
            <div class="center social-icons">
                <!-- facebook icon -->
                <a href="https://www.facebook.com/lmhealthcoach" target="_blank">
                    <svg style="width:24px;height:24px;background-color:#2196F3 !important;margin-right:5px;" viewBox="0 0 24 24">
                        <path fill="#ffffff" d="M19,4V7H17A1,1 0 0,0 16,8V10H19V13H16V20H13V13H11V10H13V7.5C13,5.56 14.57,4 16.5,4M20,2H4A2,2 0 0,0 2,ffffff,2 0 0,0 4,22H20A2,2 0 0,0 22,20V4C22,2.89 21.1,2 20,2Z" />
                    </svg>
                </a>
                <!-- twitter icon -->
                <a href="https://twitter.com/lmhealthcoach" target="_blank">
                    <svg style="width:24px;height:24px;margin-left:5px;margin-right:5px;" viewBox="0 0 24 24">
                        <path fill="#64B5F6" d="M22.46,6C21.69,6.35 20.86,6.58 20,6.69C20.88,6.16 21.56,5.32 21.88,4.31C21.05,4.81 20.13,5.16 19.16,5.36C18.37,4.5 17.26,4 16,4C13.65,4 11.73,5.92 11.73,8.29C11.73,8.63 11.77,8.96 11.84,9.27C8.28,9.09 5.11,7.38 3,4.79C2.63,5.42 2.42,6.16 2.42,6.94C2.42,8.43 3.17,9.75 4.33,10.5C3.62,10.5 2.96,10.3 2.38,10C2.38,10 2.38,10 2.38,10.03C2.38,12.11 3.86,13.85 5.82,14.24C5.46,14.34 5.08,14.39 4.69,14.39C4.42,14.39 4.15,14.36 3.89,14.31C4.43,16 6,17.26 7.89,17.29C6.43,18.45 4.58,19.13 2.56,19.13C2.22,19.13 1.88,19.11 1.54,19.07C3.44,20.29 5.7,21 8.12,21C16,21 20.33,14.46 20.33,8.79C20.33,8.6 20.33,8.42 20.32,8.23C21.16,7.63 21.88,6.87 22.46,6Z" />
                    </svg>
                </a>
                <!-- instagram icon -->
                <a href="https://www.instagram.com/lmhealthcoach/" target="_blank">
                    <svg style="width:24px;height:24px;margin-left:5px;margin-right:5px;" viewBox="0 0 24 24">
                        <path fill="#795548" d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z" />
                    </svg>
                </a>
                <!-- youtube icon -->
                <a href="https://www.youtube.com/channel/UCeCmn8A8uT42dRw-NKjOBcw" target="_blank">
                    <svg style="width:24px;height:24px;margin-left:5px;margin-right:5px;" viewBox="0 0 24 24">
                        <path fill="#F44336" d="M10,16.5V7.5L16,12M20,4.4C19.4,4.2 15.7,4 12,4C8.3,4 4.6,4.19 4,4.38C2.44,4.9 2,8.4 2,12C2,15.59 2.44,19.1 4,19.61C4.6,19.81 8.3,20 12,20C15.7,20 19.4,19.81 20,19.61C21.56,19.1 22,15.59 22,12C22,8.4 21.56,4.91 20,4.4Z" />
                    </svg>
                </a>
            </div>
        </form>
    </div>
    <div class="hide-on-med-and-up center">
        <div class="flow-text">Subscribe to my email list to get updates on recipes, blogs, events and more!</div>
        <br>
        <button id="blog-subscribe-btn-sm" class="btn btn-flat waves-effect waves-light orange-text grey lighten-3">Subscribe!</button>
        <br>
        <br>
    </div>
    <!-- end -->
    <br class="hide-on-small-only">
    <hr class="hide-on-med-and-up">
    <div class="hide-on-med-and-up center social-icons">
        <!-- facebook icon -->
        <a href="https://www.facebook.com/lmhealthcoach" target="_blank">
            <svg style="width:24px;height:24px;background-color:#2196F3 !important;margin-right:10px;" viewBox="0 0 24 24">
                <path fill="#ffffff" d="M19,4V7H17A1,1 0 0,0 16,8V10H19V13H16V20H13V13H11V10H13V7.5C13,5.56 14.57,4 16.5,4M20,2H4A2,2 0 0,0 2,ffffff,2 0 0,0 4,22H20A2,2 0 0,0 22,20V4C22,2.89 21.1,2 20,2Z" />
            </svg>
        </a>
        <!-- twitter icon -->
        <a href="https://twitter.com/lmhealthcoach" target="_blank">
            <svg style="width:24px;height:24px;margin-left:10px;margin-right:10px;" viewBox="0 0 24 24">
                <path fill="#64B5F6" d="M22.46,6C21.69,6.35 20.86,6.58 20,6.69C20.88,6.16 21.56,5.32 21.88,4.31C21.05,4.81 20.13,5.16 19.16,5.36C18.37,4.5 17.26,4 16,4C13.65,4 11.73,5.92 11.73,8.29C11.73,8.63 11.77,8.96 11.84,9.27C8.28,9.09 5.11,7.38 3,4.79C2.63,5.42 2.42,6.16 2.42,6.94C2.42,8.43 3.17,9.75 4.33,10.5C3.62,10.5 2.96,10.3 2.38,10C2.38,10 2.38,10 2.38,10.03C2.38,12.11 3.86,13.85 5.82,14.24C5.46,14.34 5.08,14.39 4.69,14.39C4.42,14.39 4.15,14.36 3.89,14.31C4.43,16 6,17.26 7.89,17.29C6.43,18.45 4.58,19.13 2.56,19.13C2.22,19.13 1.88,19.11 1.54,19.07C3.44,20.29 5.7,21 8.12,21C16,21 20.33,14.46 20.33,8.79C20.33,8.6 20.33,8.42 20.32,8.23C21.16,7.63 21.88,6.87 22.46,6Z" />
            </svg>
        </a>
        <!-- instagram icon -->
        <a href="https://www.instagram.com/lmhealthcoach/" target="_blank">
            <svg style="width:24px;height:24px;margin-left:10px;margin-right:10px;" viewBox="0 0 24 24">
                <path fill="#795548" d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z" />
            </svg>
        </a>
        <!-- youtube icon -->
        <a href="https://www.youtube.com/channel/UCeCmn8A8uT42dRw-NKjOBcw" target="_blank">
            <svg style="width:24px;height:24px;margin-left:10px;margin-right:10px;" viewBox="0 0 24 24">
                <path fill="#F44336" d="M10,16.5V7.5L16,12M20,4.4C19.4,4.2 15.7,4 12,4C8.3,4 4.6,4.19 4,4.38C2.44,4.9 2,8.4 2,12C2,15.59 2.44,19.1 4,19.61C4.6,19.81 8.3,20 12,20C15.7,20 19.4,19.81 20,19.61C21.56,19.1 22,15.59 22,12C22,8.4 21.56,4.91 20,4.4Z" />
            </svg>
        </a>
    </div>
    <hr class="hide-on-med-and-up">
    <br>
    <div class="lmhc-blog-wrapper">
        <!-- Template -->
        {{#each blogResult}}
        <div class="single-result lmhc-table">
            <div class="lmhc-row">
                <div class="lmhc-col left">
                    <div class="thumbnail-wrapper">
                        <img src="images/uploads/{{sections.[0]}}">
                    </div>
                </div>
                <div class="lmhc-col right">
                    <div class="inner-table">
                        <div class="inner-table-row title">
                            <span class="lmhc-main-title-font title-font-size">{{title}}</span>
                        </div>
                        <div class="inner-table-row summary flow-text">
                            {{summary}}
                        </div>
                        <div class="inner-table-row readmore">
                            <footer><a class="orange-text" href="blogs/{{_id}}">Read more...</a></footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        {{/each}}

    </div>
    <br>
</div>

<style type="text/css">
    .subscribe-wrapper.lg .input-field {
        display: inline-block;
    }

    div.social-icons {
        margin-bottom: 5px;
    }

    .lmhc-logo-wrapper {
        height: 250px;
    }
    
    .lmhc-logo-wrapper > img {
        width: 250px;
        min-height: 100%;
    }

    .lmhc-blog-wrapper {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .lmhc-table {
        width: inherit;
        height: 350px;
        display: table;
    }

    .lmhc-table .lmhc-row {
        display: table-row;
        width: inherit;
        height: 100%;
    }

    .lmhc-table .lmhc-row .lmhc-col {
        display: inline-block;
        height: 50%;
    }

    .lmhc-col.left,
    .lmhc-col.right {
        width: 100%;
    }

    .lmhc-col.left {
        background-color: lightgrey;
    }

    .lmhc-col.right {
        padding: 0 10px;
    }

    .thumbnail-wrapper {
        width: 100%;
        height: 175px;
        max-height: inherit;
        vertical-align: middle;
        display: flex;
        display: -ms-flexbox;
        display: -webkit-box;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-pack: center;
    }

    .thumbnail-wrapper > img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        image-rendering: pixelated;
    }

    .lmhc-col.right .title-font-size {
        display: block;
        text-align: center;
        font-size: 1.5em;
        color: dimgray;
    }

    .inner-table {
        width: 100%;
        height: 175px;
    }

    .inner-table-row.title,
    .inner-table-row.readmore {
        width: 100%;
        height: 20%;
    }

    .inner-table-row.title {
        padding-top: 5px;
    }

    .inner-table-row.summary {
        width: 100%;
        height: 60%;
        overflow: hidden;
    }

    .inner-table-row.readmore {
        position: relative;
    }

    .inner-table-row.readmore footer {
        position: absolute;
        bottom: 0;
        font-size: 1.2em;
    }

    /* mobile: landscape */
    @media (max-width: 768px) and (orientation: landscape) {
        .lmhc-logo-wrapper {
            height: 200px;
        }
    
        .lmhc-logo-wrapper > img {
            width: 200px;
            min-height: 100%;
        }
        
        .subscribe-form.lg {
            height: 100%;
            margin: 0 auto;
            padding: 10px 5px 0px 5px;
            border-radius: 3px;
            background-color: #f7f7f7;
        }

        .subscribe-wrapper.lg .row {
            margin-bottom: 0;
        }

        .subscribe-form.lg .text {
            font-variant-caps: small-caps;
            font-size: 1.3em;
        }

        .subscribe-form.lg input {
            border-bottom: 1px black solid;
        }

        .lmhc-table {
            height: 150px;
        }
        
        .lmhc-table .lmhc-row .lmhc-col {
            display: table-cell;
            height: 100%;
        }

        .lmhc-col.left {
            width: 30%;
        }

        .lmhc-col.right {
            width: 70%;
        }

        .thumbnail-wrapper {
            height: 150px;
        }

        .inner-table {
            width: 100%;
            height: 150px;
        }

        .inner-table-row.title,
        .inner-table-row.readmore {
            width: 100%;
            height: 20%;
        }

        .inner-table-row.title {
            padding-top: 0;
        }

        .inner-table-row.summary {
            width: 100%;
            height: 60%;
            overflow: hidden;
        }

        .lmhc-col.right .title-font-size {
            font-size: 1.6em;
            display: initial;
        }
    }

    /* small */
    @media (min-width: 768px) {
        .subscribe-form.lg {
            height: 100%;
            margin: 0 auto;
            padding: 10px 5px 0px 5px;
            border-radius: 3px;
            background-color: #f7f7f7;
        }

        .subscribe-wrapper.lg .row {
            margin-bottom: 0;
        }

        .subscribe-form.lg .text {
            font-variant-caps: small-caps;
            font-size: 1.5em;
        }

        .subscribe-form.lg input {
            border-bottom: 1px black solid;
        }

        .lmhc-logo-wrapper {
            height: 300px;
        }
    
        .lmhc-logo-wrapper > img {
            width: 300px;
            min-height: 100%;
        }

        .lmhc-table {
            height: 180px;
        }

        .lmhc-table .lmhc-row .lmhc-col {
            display: table-cell;
            height: 100%;
        }

        .lmhc-col.left {
            width: 30%;
        }

        .lmhc-col.right {
            width: 70%;
        }

        .thumbnail-wrapper {
            height: 180px;
            display: flex;
            display: -ms-flexbox;
            display: -webkit-box;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-pack: center;
        }

        .inner-table {
            height: 180px;
        }

        .inner-table-row.title {
            padding-top: 0;
        }

        .inner-table-row.summary {
            height: 60%;
            overflow: hidden;
        }

        .lmhc-col.right .title-font-size {
            font-size: 2.2em;
            display: initial;
        }
    }

    /* medium */
    @media (min-width: 992px) {
    }

    /* desktop */
    @media (min-width: 1200px) {
        .lmhc-logo-wrapper {
            height: 350px;
        }
    
        .lmhc-logo-wrapper > img {
            width: 350px;
            min-height: 100%;
        }

        .lmhc-table {
            height: 250px;
            max-height: 250px;
            overflow: hidden;
        }

        .lmhc-col.left {
            width: 25%;
            height: 100%;
        }

        .lmhc-col.right {
            width: 75%;
            max-height: 250px;
            overflow: hidden;
        }

        .thumbnail-wrapper {
            height: 250px;
        }

        .inner-table {
            height: 250px;
        }

        .lmhc-col.right .title-font-size {
            font-size: 2.2em;
            display: initial;
        }
    }

    /* helper classes */
</style>

<script type="text/javascript">
    $(document).ready(function(){
        // no js logic quite yet
    });
</script>