<form id="printableForm">
    <div class="sections section-2">
        <span class="inner-title allcaps bold"><h5>Social Information</h5></span>
        <div class="inner-content">
            <div class="row">
                <div class="col s12">
                    <div class="input-field">
                        Relationship status:
                        <input id="email" name="email" type="text" class="validate">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m12 l12">
                    Where do you currently live?
                    <div class="input-field inline">
                        <input id="email" type="text" class="validate">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s2 m2 l1">
                    <div class="input-field">
                        Children:
                        <select>
                            <option disabled selected></option>
                            <option value="0">No</option>
                            <option value="1">Yes</option>
                        </select>
                    </div>
                </div>
                <div class="col s10 m4 l4">
                    <div class="input-field">
                        If so, describe please:
                        <input id="email" name="email" type="email" class="validate">
                    </div>
                </div>
                <div class="col s2 m2 l1">
                    <div class="input-field">
                        Pets?
                        <select>
                            <option disabled selected></option>
                            <option value="0">No</option>
                            <option value="1">Yes</option>
                        </select>
                    </div>
                </div>
                <div class="col s10 m4 l5">
                    <div class="input-field">
                        If so, describe please:
                        <input id="email" name="email" type="email" class="validate">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s8 m8 l8">
                    <div class="input-field">
                        Occupation:
                        <input id="email" name="email" type="text" class="validate">
                    </div>
                </div>
                <div class="col s4 m4 l4">
                    <div class="input-field">
                        <span class="truncate">Hours of work per week:</span>
                        <input id="email" name="email" type="number" class="validate">
                    </div>
                </div>
            </div>
        </div>
    </div>  <!-- section-2 End -->
</form>