<div class="sections section-3">
    <span class="inner-title allcaps bold"><h5>Health Information</h5></span>
    <div class="inner-content">
        <div class="row">
            <div class="input-field col s12 line-1">
                Please list your main health concerns:
                <textarea class="materialize-textarea" rows="3" form="printableForm"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                Other concerns and/or goals?
                <textarea class="materialize-textarea" rows="3" form="printableForm"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                At what point in your life did you feel best?
                <textarea class="materialize-textarea" rows="3" form="printableForm"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                Any serious illnesses/hospitalizations/injuries?
                <textarea class="materialize-textarea" rows="3" form="printableForm"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                How is/was the health of your mother?
                <textarea class="materialize-textarea" rows="3" form="printableForm"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                How is/was the health of your father?
                <textarea class="materialize-textarea" rows="3" form="printableForm"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col s8 m8 l6">
                <div class="input-field">
                    What is your ancestry?
                    <input id="email" name="email" type="text" class="validate">
                </div>
            </div>
            <div class="col s4 m4 l6">
                <div class="input-field">
                    What blood type are you?
                    <input id="email" name="email" type="number" class="validate">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col l4">
                <div class="input-field">
                    How is your sleep?
                    <input id="" class="" name="" type="text">
                </div>
            </div>

            <div class="col l4">
                <div class="input-field">
                    How many hours?
                    <input id="" class="" name="" type="text">
                </div>
            </div>

            <div class="col l4">
                <div class="input-field">
                    Do you wake up at night?
                    <input id="" class="" name="" type="text">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12 line-1">
                If so, why?
                <textarea class="materialize-textarea" rows="3" form="printableForm"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12 line-1">
                Any pain, stiffness, or swelling?
                <textarea class="materialize-textarea" rows="3" form="printableForm"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12 line-1">
                Constipation/Diarrhea/Gas?
                <textarea class="materialize-textarea" rows="3" form="printableForm"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12 line-1">
                Allergies or sensitivities? Please explain:
                <textarea class="materialize-textarea" rows="3" form="printableForm"></textarea>
            </div>
        </div>
    </div>
</div>  <!-- section-3 End -->
