<div class="sections section-4">
    <span class="inner-title allcaps bold"><h5>Women's Health</h5></span>
    <div class="inner-content">
        <div class="row">
            <div class="col l4">
                <div class="input-field">
                    Are your periods regular?
                    <select>
                        <option disabled selected></option>
                        <option value="0">No</option>
                        <option value="1">Yes</option>
                    </select>
                </div>
            </div>

            <div class="col l4">
                <div class="input-field">
                    How many days is your flow?
                    <input id="" class="" name="" type="number">
                </div>
            </div>

            <div class="col l4">
                <div class="input-field">
                    How frequent?
                    <input id="" class="" name="" type="number">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12 line-1">
                Painful or symptomatic? Please explain:
                <textarea class="materialize-textarea" rows="3" form="printableForm"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12 line-1">
                Reached or approaching menopause? Please explain:
                <textarea class="materialize-textarea" rows="3" form="printableForm"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12 line-1">
                Birth control history:
                <textarea class="materialize-textarea" rows="3" form="printableForm"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col l12">
                <div class="input-field">
                    Do you experience yeast infections or urinary tract infections? Please explain
                    <input id="" class="" name="" type="text">
                </div>
            </div>
        </div>
    </div>
</div>  <!-- section-4 End -->
