<div class="sections section-5">
    <span class="inner-title allcaps bold"><h5>Medical Information</h5></span>
    <div class="inner-content">
        <div class="row">
            <div class="input-field col s12">
                Do you take any supplements or medications? Please list:
                <textarea class="materialize-textarea" rows="3" form="printableForm"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                Any healers, helpers, or therapies with which you are involved? Please list:
                <textarea class="materialize-textarea" rows="3" form="printableForm"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                What role do sports and exercise play in your life?
                <textarea class="materialize-textarea" rows="3" form="printableForm"></textarea>
            </div>
        </div>
    </div>
</div>  <!-- section-5 End -->
