<div class="sections section-6">
    <span class="inner-title allcaps bold"><h5>Food Information</h5></span>
    <div class="inner-content">
        <div class="row">
            What foods did you eat often as a child?
            <br><br>
            <div class="col l2">
                <span class="underline">Breakfast:</span>
                <input type="text">
                <input type="text">
                <input type="text">
            </div>
            <div class="col l2">
                <span class="underline">Lunch:</span>
                <input type="text">
                <input type="text">
                <input type="text">
            </div>
            <div class="col l2">
                <span class="underline">Dinner:</span>
                <input type="text">
                <input type="text">
                <input type="text">
            </div>
            <div class="col l2">
                <span class="underline">Snacks:</span>
                <input type="text">
                <input type="text">
                <input type="text">
            </div>
            <div class="col l2">
                <span class="underline">Liquids:</span>
                <input type="text">
                <input type="text">
                <input type="text">
            </div>
        </div>

        <div class="row">
            What is your food like these days?
            <br><br>
            <div class="col l2">
                <span class="underline">Breakfast:</span>
                <input type="text">
                <input type="text">
                <input type="text">
            </div>
            <div class="col l2">
                <span class="underline">Lunch:</span>
                <input type="text">
                <input type="text">
                <input type="text">
            </div>
            <div class="col l2">
                <span class="underline">Dinner:</span>
                <input type="text">
                <input type="text">
                <input type="text">
            </div>
            <div class="col l2">
                <span class="underline">Snacks:</span>
                <input type="text">
                <input type="text">
                <input type="text">
            </div>
            <div class="col l2">
                <span class="underline">Liquids:</span>
                <input type="text">
                <input type="text">
                <input type="text">
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                Will family and/or friends be supportive of your desire to make food and/or lifestyle changes? Please explain:
                <textarea class="materialize-textarea" rows="3" form="printableForm"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col l2">
                <div class="input-field">
                    Do you cook?
                    <select>
                        <option selected></option>
                        <option value="0">No</option>
                        <option value="1">Yes</option>
                    </select>
                </div>
            </div>

            <div class="col l10">
                <div class="input-field">
                    What percentage of your food is home-cooked?
                    <input id="" class="" name="" type="text">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col l12">
                <div class="input-field">
                    Where do you get the rest from?
                    <input id="" class="" name="" type="text">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col l12">
                <div class="input-field">
                    Do you crave sugar, coffee, cigarettes, or have any major addictions?
                    <input id="" class="" name="" type="text">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col l12">
                <div class="input-field">
                    The most important thing I should do to improve my health is:
                    <input id="" class="" name="" type="text">
                </div>
            </div>
        </div>
    </div>
</div>  <!-- section-6 End -->
