<div class="sections section-7">
    <span class="inner-title allcaps bold"><h5>Additional Comments</h5></span>
    <div class="inner-content">
        <div class="row">
            <div class="input-field col s12 line-1">
                Anything else you would like to share?
                <textarea class="materialize-textarea" rows="3" form="printableForm"></textarea>
            </div>
        </div>
    </div>
</div>  <!-- section-7 End -->
