<br>
<div class="container z-depth-5">
    <form id="printableForm">
        <h5>Women's Health History</h5>
        <hr>
        <br>
        {{!-- <div class="divider"></div> --}}
        <br>
        <span class="flow-text">
            Please write or print clearly. All of your information will remain confidential
            between you and the Helath Coach.
        </span>
        <br>

        <div class="sections section-1">
            <span class="inner-title allcaps bold"><h5>Informaci&oacute;n Personal</h5></span>
            <div class="inner-content">
                <div class="row">
                    <div class="col s6 m6 l6">
                        <div class="input-field">
                            * First Name:
                            <input id="first_name" name="firstName" type="text" class="validate">
                        </div>
                    </div>

                    <div class="col s6 m6 l6">
                        <div class="input-field">
                            * Last Name:
                            <input id="last_name" name="lastName" type="text" class="validate">
                        </div>
                    </div>
                </div>

                <div class="input-field">
                    * Email:
                    <input id="email" name="email" type="email" class="validate">
                </div>

                <div class="input-field">
                    How often do you check email?
                    <input id="email_frequency" name="emailFrequency" type="text">
                </div>

                <div class="row">
                    <div class="col s12 m4 l4">
                        <div class="input-field">
                            Phone Number:
                            <input id="email" name="email" type="tel" class="validate">
                        </div>
                    </div>
                    <div class="col s12 m4 l4">
                        <div class="input-field">
                            Work:
                            <input id="email" name="email" type="tel" class="validate">
                        </div>
                    </div>
                    <div class="col s12 m4 l4">
                        <div class="input-field">
                            Mobile:
                            <input id="email" name="email" type="tel" class="validate">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s6 m4 l4">
                        <div class="input-field">
                            Age:
                            <input id="email" name="email" type="number" class="validate">
                        </div>
                    </div>
                    <div class="col s6 m4 l4">
                        <div class="input-field">
                            Height:
                            <input id="email" name="email" type="email" class="validate">
                        </div>
                    </div>
                    <div class="col s12 m4 l4">
                        <div class="input-field">
                            Birthdate:
                            <input id="email" placeholder="dd/mm/aaaa" name="email" type="email" class="validate">
                        </div>
                    </div>
                    <div class="col s12 m12 l4">
                        <div class="input-field">
                            Place of Birth:
                            <input id="email" name="email" type="email" class="validate">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m4 l4">
                        <div class="input-field">
                            Current weight:
                            <input id="email" name="email" type="number" class="validate">
                        </div>
                    </div>
                    <div class="col s12 m4 l4">
                        <div class="input-field">
                            Weight six months ago:
                            <input id="email" name="email" type="number" class="validate">
                        </div>
                    </div>
                    <div class="col s12 m4 l4">
                        <div class="input-field">
                            One year ago:
                            <input id="email" name="email" type="number" class="validate">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12">
                        Would you like your weight to be different?
                        <div class="input-field inline">
                            <input id="email" type="text" class="validate">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12">
                        If so, what?
                        <div class="input-field inline">
                            <input id="email" type="text" class="validate">
                        </div>
                    </div>
                </div>

            </div>
        </div>  <!-- section-1 End -->

        <div class="sections section-2">
            <span class="inner-title allcaps bold"><h5>Social Information</h5></span>
            <div class="inner-content">
                <div class="row">
                    <div class="col s12">
                        <div class="input-field">
                            Relationship status:
                            <input id="email" name="email" type="text" class="validate">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m12 l12">
                        Where do you currently live?
                        <div class="input-field inline">
                            <input id="email" type="text" class="validate">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s2 m2 l1">
                        <div class="input-field">
                            Children:
                            <select>
                                <option disabled selected></option>
                                <option value="0">No</option>
                                <option value="1">Yes</option>
                            </select>
                        </div>
                    </div>
                    <div class="col s10 m4 l4">
                        <div class="input-field">
                            If so, describe please:
                            <input id="email" name="email" type="email" class="validate">
                        </div>
                    </div>
                    <div class="col s2 m2 l1">
                        <div class="input-field">
                            Pets?
                            <select>
                                <option disabled selected></option>
                                <option value="0">No</option>
                                <option value="1">Yes</option>
                            </select>
                        </div>
                    </div>
                    <div class="col s10 m4 l5">
                        <div class="input-field">
                            If so, describe please:
                            <input id="email" name="email" type="email" class="validate">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s8 m8 l8">
                        <div class="input-field">
                            Occupation:
                            <input id="email" name="email" type="text" class="validate">
                        </div>
                    </div>
                    <div class="col s4 m4 l4">
                        <div class="input-field">
                            <span class="truncate">Hours of work per week:</span>
                            <input id="email" name="email" type="number" class="validate">
                        </div>
                    </div>
                </div>
            </div>
        </div>  <!-- section-2 End -->

        <div class="sections section-3">
            <span class="inner-title allcaps bold"><h5>Health Information</h5></span>
            <div class="inner-content">
                <div class="row">
                    <div class="input-field col s12 line-1">
                        Please list your main health concerns:
                        <textarea class="materialize-textarea" rows="3" form="printableForm"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        Other concerns and/or goals?
                        <textarea class="materialize-textarea" rows="3" form="printableForm"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        At what point in your life did you feel best?
                        <textarea class="materialize-textarea" rows="3" form="printableForm"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        Any serious illnesses/hospitalizations/injuries?
                        <textarea class="materialize-textarea" rows="3" form="printableForm"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        How is/was the health of your mother?
                        <textarea class="materialize-textarea" rows="3" form="printableForm"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        How is/was the health of your father?
                        <textarea class="materialize-textarea" rows="3" form="printableForm"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col s8 m8 l6">
                        <div class="input-field">
                            What is your ancestry?
                            <input id="email" name="email" type="text" class="validate">
                        </div>
                    </div>
                    <div class="col s4 m4 l6">
                        <div class="input-field">
                            What blood type are you?
                            <input id="email" name="email" type="number" class="validate">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col l4">
                        <div class="input-field">
                            How is your sleep?
                            <input id="" class="" name="" type="text">
                        </div>
                    </div>

                    <div class="col l4">
                        <div class="input-field">
                            How many hours?
                            <input id="" class="" name="" type="text">
                        </div>
                    </div>

                    <div class="col l4">
                        <div class="input-field">
                            Do you wake up at night?
                            <input id="" class="" name="" type="text">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12 line-1">
                        If so, why?
                        <textarea class="materialize-textarea" rows="3" form="printableForm"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12 line-1">
                        Any pain, stiffness, or swelling?
                        <textarea class="materialize-textarea" rows="3" form="printableForm"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12 line-1">
                        Constipation/Diarrhea/Gas?
                        <textarea class="materialize-textarea" rows="3" form="printableForm"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12 line-1">
                        Allergies or sensitivities? Please explain:
                        <textarea class="materialize-textarea" rows="3" form="printableForm"></textarea>
                    </div>
                </div>
            </div>
        </div>  <!-- section-3 End -->

        <div class="sections section-4">
            <span class="inner-title allcaps bold"><h5>Women's Health</h5></span>
            <div class="inner-content">
                <div class="row">
                    <div class="col l4">
                        <div class="input-field">
                            Are your periods regular?
                            <select>
                                <option disabled selected></option>
                                <option value="0">No</option>
                                <option value="1">Yes</option>
                            </select>
                        </div>
                    </div>

                    <div class="col l4">
                        <div class="input-field">
                            How many days is your flow?
                            <input id="" class="" name="" type="number">
                        </div>
                    </div>

                    <div class="col l4">
                        <div class="input-field">
                            How frequent?
                            <input id="" class="" name="" type="number">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12 line-1">
                        Painful or symptomatic? Please explain:
                        <textarea class="materialize-textarea" rows="3" form="printableForm"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12 line-1">
                        Reached or approaching menopause? Please explain:
                        <textarea class="materialize-textarea" rows="3" form="printableForm"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12 line-1">
                        Birth control history:
                        <textarea class="materialize-textarea" rows="3" form="printableForm"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col l12">
                        <div class="input-field">
                            Do you experience yeast infections or urinary tract infections? Please explain
                            <input id="" class="" name="" type="text">
                        </div>
                    </div>
                </div>
            </div>
        </div>  <!-- section-4 End -->

        <div class="sections section-5">
            <span class="inner-title allcaps bold"><h5>Medical Information</h5></span>
            <div class="inner-content">
                <div class="row">
                    <div class="input-field col s12">
                        Do you take any supplements or medications? Please list:
                        <textarea class="materialize-textarea" rows="3" form="printableForm"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        Any healers, helpers, or therapies with which you are involved? Please list:
                        <textarea class="materialize-textarea" rows="3" form="printableForm"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        What role do sports and exercise play in your life?
                        <textarea class="materialize-textarea" rows="3" form="printableForm"></textarea>
                    </div>
                </div>
            </div>
        </div>  <!-- section-5 End -->

        <div class="sections section-6">
            <span class="inner-title allcaps bold"><h5>Food Information</h5></span>
            <div class="inner-content">
                <div class="row">
                    What foods did you eat often as a child?
                    <br><br>
                    <div class="col l2">
                        <span class="underline">Breakfast:</span>
                        <input type="text">
                        <input type="text">
                        <input type="text">
                    </div>
                    <div class="col l2">
                        <span class="underline">Lunch:</span>
                        <input type="text">
                        <input type="text">
                        <input type="text">
                    </div>
                    <div class="col l2">
                        <span class="underline">Dinner:</span>
                        <input type="text">
                        <input type="text">
                        <input type="text">
                    </div>
                    <div class="col l2">
                        <span class="underline">Snacks:</span>
                        <input type="text">
                        <input type="text">
                        <input type="text">
                    </div>
                    <div class="col l2">
                        <span class="underline">Liquids:</span>
                        <input type="text">
                        <input type="text">
                        <input type="text">
                    </div>
                </div>

                <div class="row">
                    What is your food like these days?
                    <br><br>
                    <div class="col l2">
                        <span class="underline">Breakfast:</span>
                        <input type="text">
                        <input type="text">
                        <input type="text">
                    </div>
                    <div class="col l2">
                        <span class="underline">Lunch:</span>
                        <input type="text">
                        <input type="text">
                        <input type="text">
                    </div>
                    <div class="col l2">
                        <span class="underline">Dinner:</span>
                        <input type="text">
                        <input type="text">
                        <input type="text">
                    </div>
                    <div class="col l2">
                        <span class="underline">Snacks:</span>
                        <input type="text">
                        <input type="text">
                        <input type="text">
                    </div>
                    <div class="col l2">
                        <span class="underline">Liquids:</span>
                        <input type="text">
                        <input type="text">
                        <input type="text">
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        Will family and/or friends be supportive of your desire to make food and/or lifestyle changes? Please explain:
                        <textarea class="materialize-textarea" rows="3" form="printableForm"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col l2">
                        <div class="input-field">
                            Do you cook?
                            <select>
                                <option selected></option>
                                <option value="0">No</option>
                                <option value="1">Yes</option>
                            </select>
                        </div>
                    </div>

                    <div class="col l10">
                        <div class="input-field">
                            What percentage of your food is home-cooked?
                            <input id="" class="" name="" type="text">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col l12">
                        <div class="input-field">
                            Where do you get the rest from?
                            <input id="" class="" name="" type="text">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col l12">
                        <div class="input-field">
                            Do you crave sugar, coffee, cigarettes, or have any major addictions?
                            <input id="" class="" name="" type="text">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col l12">
                        <div class="input-field">
                            The most important thing I should do to improve my health is:
                            <input id="" class="" name="" type="text">
                        </div>
                    </div>
                </div>
            </div>
        </div>  <!-- section-6 End -->

        <div class="sections section-7">
            <span class="inner-title allcaps bold"><h5>Additional Comments</h5></span>
            <div class="inner-content">
                <div class="row">
                    <div class="input-field col s12 line-1">
                        Anything else you would like to share?
                        <textarea class="materialize-textarea" rows="3" form="printableForm"></textarea>
                    </div>
                </div>
            </div>
        </div>  <!-- section-7 End -->

        <div class="row"><!-- To create a margin at the bottom of the page --></div>
    </form>

    <a id="printButton" class="btn right" href="#">Print</a>
    <a id="saveButton" class="btn right" href="#">Save</a>
</div>

<style type="text/css">
    .line-1, .line-2 {
        margin-bottom: 0;
    }

    .line-2, .line-3 {
        margin-top: 0;
    }

    .myTextarea {
    }

    .container {
        padding-top: 40px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .allcaps {
        font-variant: small-caps;
    }

    .bold h5 {
        font-weight: bold !important;
    }

    .underline {
        text-decoration: underline;
    }

    .inner-title {
        color: red;
    }

    #saveButton,
    #printButton {
        margin-top: 20px;
        margin-right: 10px;
    }

    .inner-content {
        padding-left: 40px;
        padding-right: 40px;
    }

    @media print {
        body * {
            visibility: hidden;
        }

        #printableForm,
        #printableForm * {
            visibility: visible;
        }

        #printableForm {
            position: absolute;
            left: 0;
            top: 0;
        }
    }
</style>

<script type="text/javascript">
    $('#printButton').click(function() {
        window.print();
    });

    $(document).ready(function() {
        $('select').material_select();
    });
</script>